.content-table
  .row
    .col-md-12
      %h1 Encontrados
      %table.cow-table
        - if inventory_cows.where(found: true).size.zero?
          %thead
            %tr
              %th.not-records.center
                %center No se encontraron ganados
        - else
          %thead
            %tr
              %th
                .toolbar-item
                  .item-check
                    .checkbox
                      %label{ for: 'checkbox-all' }
                        %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()', name: 'multiple_ids' }
                        %span.cr
                          %i.cr-icon.icofont-check
              %th
                = sort_link(@q, :serie_number) do 
                  Serie
              %th
                = sort_link(@q, :in_farm) do 
                  En Finca
              %th
                = sort_link(@q, :found) do 
                  En Sistema
              %th Menu
          %tbody#inventory_cows
            = render 'keppler_frontend/app/inventories/partials/cattle_item', inventory_cows: inventory_cows
= paginate inventory_cows unless inventory_cows.blank?
#loading
:scss
  .pagination {
    visibility: hidden
  }