- inventory_cows.each do |inventory_cow|
  %tr.inventory_cow{ style: "border-bottom: 1px #eee solid;" }
    %td
      .checkbox{ style: 'margin: 3px' }
        %label{ for: "checkbox-#{inventory_cow&.id}" }
          %input{ type:"checkbox", id: "checkbox-#{inventory_cow&.id}", 'checklist-model' => 'check', 'checklist-value' => "#{inventory_cow&.id}", '@click' => "listDelete(#{inventory_cow&.id})"}
          %span.cr
            %i.cr-icon.icofont-check
    %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: inventory_cow&.id}) do
        = inventory_cow&.serie_number
    %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: inventory_cow&.id}) do
        = inventory_cow&.in_farm ? 'Sí' : 'No'
    %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: inventory_cow&.id}) do
        = inventory_cow&.found ? 'Sí' : 'No'
    -# %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: inventory_cow&.id}) do
        %i.fa{ class: "icofont-#{inventory_cow&.found ? 'check' : 'not-allowed'}", style: "color: #{inventory_cow&.found ? 'green' : 'red'}" }
        
    %td
      .dropdown{ style: 'justify-content: center; cursor:pointer' }
        %a.action-btn.pull-right{:id => "menu-#{inventory_cow&.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
          %i.icofont-navigation-menu
        %ul.actions.dropdown-menu.actions-dropdown{ 'aria-labelledby': "menu-#{inventory_cow&.id}" }
          %li
            - if inventory_cow.cow
              = link_to({ controller: :cattle, action: :show, farm_id: @farm&.id, id: inventory_cow.cow&.id}) do
                %i.icofont-eye
                Ver ficha de ganado
          -# - if inventory_cow.farm&.id == @farm&.id
          -#   %li
          -#     -# = link_to([{ controller: :weights, action: :new, farm_id: @farm&.id, id: inventory_cow&.id }]) do
          -#     = link_to new_farm_inventory_cow_weight_path(@farm, inventory_cow) do
          -#       %i.icofont-refresh
          -#       Actualizar peso