!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
  %body
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h2.report-title Catálogo de Ganado por Orden de Serie
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
      %p Pág. 1
    %table.cow-table
      - if @active_cows.size.zero?
        %thead
          %tr
            %th.not-records.center
              %center No se encontraron ganados
      - else
        %thead
          %tr
            %th Serie
            %th Raza
            %th
              Edad
              %br
              A - M
            %th Tipología
            %th Madre
            %th Padre
            %th Fecha
            %th KGS
            %th Pelaje
            %th Lote
        %tbody
          - @active_cows.each do |cow|
            %tr{ style: "border: 1px red solid;" }
              %td= cow&.serie_number
              %td= cow&.race
              %td
                = cow&.status&.years
                \-
                = cow&.status&.months
              %td= cow&.status&.typology
              %td= cow&.mother&.serie_number
              %td= cow&.father&.serie_number
              %td= cow&.status&.created_at&.strftime('%d-%m-%Y')
              %td= cow&.status&.weight
              %td= cow&.coat_color
              %td= cow&.strategic_lot&.name
:scss
  body {
    font-size: 10px;
  }
  table {
    border-collapse: collapse;
    border: solid 1px red;
    width: 100%;
  }
  tr {
    border: solid 1px red;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  td {
    margin: 0;
    padding: 0;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }