!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title #{@farm&.title} | Series inactivas
    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
  %body
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h2.report-title Catálogo de Ganado Inactivo por Orden de Serie
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
      %p Pág. 1
      %p #{@inactive_cows.size} / #{@inactive_cows.size}
    %table.cow-table
      - if @inactive_cows.size.zero?
        %thead
          %tr
            %th.not-records.center
              %center No se encontraron series
      - else
        %thead
          %tr
            %th Serie
            %th Inactiva desde
            %th Responsable
            %th Motivo o desc.
        %tbody
          - @inactive_cows.each do |cow|
            %tr
              %td= cow&.serie_number
              %td= cow&.cow_activities&.last&.created_at.strftime('%d-%m-%Y')
              %td= cow&.cow_activities&.last&.user&.name
              %td= cow&.cow_activities&.last&.observations
:scss
  body {
    font-size: 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
    td {
    margin: 0;
    padding: 10px 20px 0 0;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }