!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title #{@farm&.title} | Reporte General
  %body
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h2.report-title Catálogo de Ganado por Orden de Serie
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
      %p Pág. 1
      %p #{@active_cows.size} / #{@active_cows.size}
    %table.cow-table
      - if @active_cows.size.zero?
        %thead
          %tr
            %th.not-records.center
              %center No se encontraron ganados
      - else
        %thead
          %tr
            %th Serie
            %th Raza
            %th
              Edad
              %br
              A - M
            %th Tipología
            %th Madre
            %th Padre
            %th Fecha Nac.
            %th KG
            -# %th Pelaje
            %th Lote
        %tbody
          - @active_cows.each do |cow|
            %tr
              %td= cow&.serie_number
              %td= cow&.race&.abbreviation
              %td
                = cow&.years
                \-
                = cow&.months
              %td= cow&.typology_name
              %td= cow&.mother&.serie_number
              %td= cow&.father&.serie_number
              %td= cow&.birthdate&.strftime('%d-%m-%Y')
              %td= cow&.weight&.weight
              -# %td= cow&.coat_color
              %td= cow&.strategic_lot&.name
:scss
  body {
    font-size: 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
    td {
    margin: 0;
    padding: 10px 20px 0 0;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }