!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title Ficha de ganado (#{@cow.serie_number})
    -# = wicked_pdf_stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
    -# = wicked_pdf_stylesheet_link_tag '/assets/keppler_frontend/app/application.css'
  %body
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h2.report-title Ficha de ganado (#{@cow.serie_number})
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
    .app_wrapper
      .container_custom
        .row
          %table.card_show.cow_info
            %tbody
              %tr
                %th Número de serie
                %th Nombre corto
                %th Género
                %th Fecha de Nacimiento
              %tr
                %td= @cow.serie_number
                %td= @cow.short_name
                %td= @cow.gender?('male') ? 'Macho' : 'Hembra'
                %td= @cow.birthdate
              %tr
                %th Especie
                %th Raza
                %th Tipología
                %th Condición corporal
              %tr
                %td= @cow.species&.name
                %td= @cow.race&.name
                %td= @cow.typology_name
                %td= @cow.weight&.corporal_condition unless @cow.weight&.blank?
              %tr
                %th Peso
                %th Años
                %th Meses
                %th Días de nacido
              %tr
                %td #{@cow.weight&.weight} KG
                %td= @cow.years
                %td= @cow.months
                %td= @cow.days
          %hr
          %h2 Hijos (#{@cow.sons&.size})
          %table.cow-table
            - if @cow.sons&.size&.zero?
              %thead
                %tr
                  %th.not-records.center
                    %center No se encontraron ganados
            - else
              %thead
                %tr
                  %th Serie
                  %th Raza
                  %th
                    Edad
                    %br
                    A - M
                  %th Tipología
                  - if @cow.gender?('male')
                    %th Madre
                  - else
                    %th Padre
                  %th Fecha Nac.
                  %th KG
                  -# %th Pelaje
                  -# %th Lote
              %tbody
                - @cow.sons&.each do |cow|
                  %tr
                    %td= cow&.serie_number
                    %td= cow&.race&.abbreviation
                    %td
                      = cow&.status&.years
                      \-
                      = cow&.status&.months
                    %td= cow&.typology_name
                    - if @cow.gender?('male')
                      %td= cow&.mother&.serie_number
                    - else
                      %td= cow&.father&.serie_number
                    %td= cow&.birthdate&.strftime('%d-%m-%Y')
                    %td= cow&.weight&.weight
                    -# %td= cow&.coat_color
                    -# %td= cow&.strategic_lot&.name
          %p
            %b PROMEDIO DE PESOS:
            %span #{@cow.sons_weight_average.round(2)} KG
:scss
  body {
    font-size: 15px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  td {
    margin: 0;
    padding: 0;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }