.container
  .row
    .col-lg-2
      = link_to({action: :index}, {'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back')}) do
        .arrow-back.btn.btn-default
          %i.icon-arrow-left
          = t('keppler.actions.back')
  .show-section
    .row
      .col-lg-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t('keppler.models.singularize.race').humanize
            .box-tools.pull-right
              - if can?(model).update?
                = link_to({action: :edit, id: @race}, {class: 'btn btn-box-tool', title: t('keppler.actions.edit')}) do
                  %i.icon-pencil
              - if can?(model).destroy?
                = link_to({ action: :destroy, id: @race }, {class: 'btn btn-box-tool', title: t('keppler.actions.delete'), method: :delete, data: { confirm: '¿Estás seguro?' }}) do
                  %i.icon-trash

          .box-body.no-padding
            %table.table
              %tbody
                - @race.as_json(except: %w[position deleted_at]).each do |attribute, value|
                  %tr.list-row
                    %th.display-label= t("activerecord.attributes.#{attribute}").humanize
                    %td.display-value.fs-body-1.tc-black-2
                      - if @attachments.dig('images', 'names').include?(attribute)
                        = image_tag value.url if value.url
                      - elsif attribute.eql?('species_id')
                        - unless value.blank?
                          = @race.species&.name
                      - elsif @attachments.dig('images', 'names').map(&:pluralize).include?(attribute)
                        - value.each do |image|
                          = image_tag image.url if image.url
                      - elsif attribute.eql?('gender')
                        = value.eql?('male') ? 'Macho' : 'Hembra'
                      - elsif attribute.eql?('counter')
                        - case value
                        - when '0'
                          Ninguno
                        - when '1'
                          Temporadas de monta
                        - when '2'
                          Partos
                      - else 
                        = sanitize raw value
