.container
  .row
    .col-lg-2
      = link_to admin_cattle_cows_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
        .arrow-back.btn.btn-default
          %i.icon-arrow-left
          = t('keppler.actions.back')
  .show-section
    .row
      .col-md-4
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t('activerecord.attributes.image').humanize
          .box-body.no-padding
            %center
              = image_tag @cow.image&.url || '/assets/keppler_cattle/cow_shadow', style: 'max-width: 100%;'
              %h5= "SIN FOTO" if @cow.image&.url.blank?
      .col-md-8
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t('keppler.models.singularize.cow').humanize
            .box-tools.pull-right
              - if can?(model).update?
                = link_to edit_admin_cattle_cow_path(@cow), class: 'btn btn-box-tool', title: t('keppler.actions.edit') do
                  %i.icon-pencil
              - if can?(model).destroy?
                = link_to admin_cattle_cow_path(@cow), class: 'btn btn-box-tool', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
                  %i.icon-trash

          .box-body.no-padding
            %table.table
              %tbody
                - @cow.as_json(except: %w[image position deleted_at]).each do |attribute, value|
                  %tr.list-row
                    %th.display-label= t("activerecord.attributes.#{attribute}").humanize
                    %td.display-value.fs-body-1.tc-black-2
                      - if @attachments.dig('images', 'names').include?(attribute)
                        = image_tag value.url if value.url
                      - elsif @attachments.dig('images', 'names').map(&:pluralize).include?(attribute)
                        - value.each do |image|
                          = image_tag image.url if image.url
                      - else 
                        = sanitize raw value
