!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title Transferencias
  %body
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h2.report-title Listado de transferencias realizadas desde esta finca
    .header-right
      %p.justify-right= Time.now.strftime('%d-%m-%Y')
      %p.justify-right Pág. 1
      %p.justify-right #{@transferences.size} / #{@transferences.size}
    %table.cow-table
      - if @transferences.size.zero?
        %thead
          %tr
            %th.not-records.center
              %center No se encontraron transferencias
      - else
        %thead
          %tr
            %th Cantidad de series
            %th Desde
            %th Hasta
            %th Motivo
            %th Fecha
        %tbody
          - @transferences.each do |transference|
            %tr{ style: "border-bottom: 1px #eee solid;" }
              %td
                = transference&.cows&.count
              %td
                = transference&.from_farm&.title
              %td
                = transference&.to_farm&.title
              %td
                = transference&.try(:reason)
              %td
                = transference&.created_at.strftime("%d-%m-%Y")
:scss
  body {
    font-size: 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  td {
    margin: 0;
    padding: 0;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }
  .justify-right {
    justify-content: right;
    text-align: right;
  }