.modal.modal_status.fade{ id: "milkWeight_#{cow.id}", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document", style: "max-width: 800px;"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{ style: "padding: 20px;"}
        .container_custom
          .row
            .col-lg-12
              %h1.mb-4 Realizar pesaje de leche
              = simple_form_for [@farm, cow, KepplerReproduction::MilkWeight.new] do |f|
                = f.input :farm_id, as: :hidden, input_html: { value: @farm.id }
                = f.input :cow_id, as: :hidden, input_html: { value: cow.id }
                .row
                  .col-sm-12
                    = f.input :date, label: t("milk_weight.date")
                  .col-sm-6
                    = f.input :morning_liters, label: t("milk_weight.morning_liters"), input_html: { id: "milk_weight_morning_liters_#{cow.id}" }
                  .col-sm-6
                    = f.input :evening_liters, label: t("milk_weight.evening_liters"), input_html: { id: "milk_weight_evening_liters_#{cow.id}" }
                  .col-sm-12
                    %input#milk_weight_total_liters.form-control.hidden{name: "milk_weight[total_liters]", type: "hidden" }
                    %label= t("milk_weight.total_liters")
                    %h1.form-group
                      %span{ id: "total_liters_#{cow.id}"} 0.0
                      %span Lts
                  .col-sm-12
                    = f.input :description, label: t("milk_weight.description")
                .float-right.mt-3
                  %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                    %i.icofont-save
                    Guardar
:javascript

  $("#milk_weight_morning_liters_#{cow.id}").keyup(function() {
    var val1 = isNaN(parseFloat($("#milk_weight_morning_liters_#{cow.id}").val())) ? 0 : parseFloat($("#milk_weight_morning_liters_#{cow.id}").val())
    var val2 = isNaN(parseFloat($("#milk_weight_evening_liters_#{cow.id}").val())) ? 0 : parseFloat($("#milk_weight_evening_liters_#{cow.id}").val())
    final_value = parseFloat(val1 + val2)
    $("#total_liters_#{cow.id}").text(final_value)
    $("#milk_weight_total_liters_#{cow.id}").val(final_value)
  })

  $("#milk_weight_evening_liters_#{cow.id}").keyup(function() {
    var val1 = isNaN(parseFloat($("#milk_weight_morning_liters_#{cow.id}").val())) ? 0 : parseFloat($("#milk_weight_morning_liters_#{cow.id}").val())
    var val2 = isNaN(parseFloat($("#milk_weight_evening_liters_#{cow.id}").val())) ? 0 : parseFloat($("#milk_weight_evening_liters_#{cow.id}").val())
    final_value = parseFloat(val1 + val2)
    $("#total_liters_#{cow.id}").text(final_value)
    $("#milk_weight_total_liters_#{cow.id}").val(final_value)
  })