%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js"}
.app_wrapper.pb-5
  .container.d-flex.justify-content-between
    .left
      %h1 Pesajes de leche mensuales
    .right
      = link_to = link_to({format: :pdf}, {target: '_blank'}) do
        %button.btn.btn_custom.btn--medium.btn--filled.mt-4.mb-4
          %i.bx.bxs-report
          Reporte
      = link_to (:back == request.url ? :back : farm_milk_index_path(@farm)) do
        %button.btn.btn_custom.btn--medium.mt-4.mb-4
          %i.icofont-arrow-left
          Atrás

  - @milk_lot = @farm.strategic_lots.find_by(id: @farm.milk_lot_id)
  - @milk_weights = @milk_lot.milk_weights

  .container
    .row
      .col-sm-12
        %button.btn.btn_custom.btn--medium.btn--filled{"aria-controls" => "collapseChart", "aria-expanded" => "false", "data-target" => "#collapseChart", "data-toggle" => "collapse", type: "button"}
          Mostrar gráfico
        #collapseChart.collapse.p-5
          .card_show{ style: 'max-width: 1000px; margin: 0 auto' }
            %canvas#milk_weights{ height: '100', width: '200' }
  .container.pb-5
    %table.table
      %thead
        %tr
          - if @milk_weights.blank?
            %th No tiene pesajes de leche
          - else
            %th Fecha
            %th Litros por la mañana
            %th Litros por la tarde
            %th Litros totales
      %tbody
        - unless @milk_weights.blank?
          - @milk_weights.each do |milk_weight|
            %tr{ title: milk_weight&.description }
              %td= milk_weight&.date.strftime('%d-%m-%y')
              %td #{milk_weight&.morning_liters.inspect.to_f&.round(2)} Lts
              %td #{milk_weight&.evening_liters.inspect.to_f&.round(2)} Lts
              %td #{milk_weight&.total_liters.inspect.to_f&.round(2)} Lts

- labels = TimeService.months_between_dates(Date.today - 6.months, Date.today)
- data = labels.map { |month| @milk_weights.select { |mw| I18n.l(mw.created_at, format: "%B").eql?(month) }.sum { |x| x.morning_liters + x.evening_liters } }
:javascript
  var ctx = document.getElementById('milk_weights').getContext('2d');
  var green_gradient = ctx.createLinearGradient(0, 0, 0, 450);
  green_gradient.addColorStop(0, ' #4AC29A');
  green_gradient.addColorStop(1, '#3CD3AD');
  // green_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');

  var chart = new Chart(ctx, {
    type: 'line',
    data: {
      labelString: '20',
      labels: #{raw labels},
      datasets: [{
        label: 'Cantidad de litros producidos al mes',
        data: #{raw data},
        backgroundColor: green_gradient,
        hoverBackgroundColor: green_gradient,
        hoverBorderWidth: 2
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            callback: function(value, index, values) {
              return value + ' Lts';
            }
          }
        }]
      }
    }
  });