.app_wrapper
  .container_custom
    .d-flex.justify-content-between.xs-column
      .left
        %h1 Producción lechera
      .right
        = render 'milk_reports'
        %button.btn.btn_custom.btn--filled.btn--medium.mt-4.mb-4{'data-target': "#modalLote", 'data-toggle': 'modal'}
          %i.icofont-plus
          = @milk_lot ? 'Cambiar' : 'Asignar'
          Lote Estratégico
    = render 'keppler_frontend/app/milk/tabs'
    = render 'keppler_frontend/app/milk/calendar'
  .container_custom.pb-5
    %h2.py-5= @milk_lot&.name
    .container.d-flex.justify-content-between.mb-5
      - %i[days_to_service days_to_pregnancy days_to_dry days_to_rest].each do |day|
        .day
          %b #{t("days.#{day}")}:
          %span= @farm&.try(day.to_sym).to_i
      %button.btn.btn_custom.btn--filled.btn--medium{'data-target': "#editParams", 'data-toggle': 'modal'}
        %i.bx.bx-pencil
        Editar
    %table
      - if @milk_lot
        - if @cows.blank?
          %tbody
            %th El lote estratégico no posee series en período de lactancia
        - else
          %thead
            %tr
              %th Nro. Serie
              %th Nombre corto
              %th Tipología
              %th Peso
              %th Estado actual
              %th Días
              %th Leche/Mes
              %th Sig. Proceso
              %th
          %tbody
            - @cows.where(gender: 'female').each do |cow|
              %tr{ style: ("color: red" if cow.milking? && (milk_status_days(cow).to_i >= @farm.try(next_process(cow).to_sym).to_i) ) }
                %td
                  = link_to farm_cow_milk_weights_path(@farm, cow) do
                    = cow.serie_number
                %td
                  = link_to farm_cow_milk_weights_path(@farm, cow) do
                    = cow.short_name
                    = image_tag "/assets/keppler_cattle/#{cow&.gender || 'male'}", class: 'svg-icon-xs ml-2', style: ('height: 12px' if cow.gender?('male')) unless cow.gender.blank?
                %td
                  = link_to farm_cow_milk_weights_path(@farm, cow) do
                    = cow.typology&.name
                %td
                  = link_to farm_cow_milk_weights_path(@farm, cow) do
                    #{cow.weight&.weight} KG
                %td
                  = link_to farm_cow_milk_weights_path(@farm, cow) do
                    = milk_status(cow)
                %td
                  = link_to farm_cow_milk_weights_path(@farm, cow) do
                    = cow.milking? ? milk_status_days(cow) : 'N/A'
                %td
                  = link_to farm_cow_milk_weights_path(@farm, cow) do
                    - if cow.milking?
                      = cow.milk_weights.last&.total_liters&.to_s.to_f&.round(2)
                      Lts
                    - else
                      N/A
                %td
                  - if !cow.milking?
                    = link_to({ controller: :cattle, action: :toggle_milking, id: cow }, { method: :post })  do
                      %button.btn.btn_custom
                        Comenzar Ordeño
                  - else
                    - if ['Nil', nil].include?(cow.status_name)
                      = link_to '#', rel: "nofollow", 'data-target': "#createService-#{cow.id}", 'data-toggle': 'modal'  do
                        %button.btn.btn_custom
                          Registrar Servicio
                    - elsif ['Service'].include?(cow.status_name)
                      = link_to '#', rel: "nofollow", 'data-target': "#createPregnancy-#{cow.id}", 'data-toggle': 'modal'  do
                        %button.btn.btn_custom
                          Registrar Preñez
                    -# - elsif cow.status_name.inspect.camelcase.eql?('Pregnancy')
                    -# - elsif cow.status_name.inspect.camelcase.eql?('Dry')
                %td
                  %a#milkDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                    %i.bx.bx-dots-vertical-rounded
                  .dropdown-menu.profile_dropdown{"aria-labelledby" => "milkDropdown"}
                    = link_to({ controller: :cattle, action: :toggle_milking, id: cow }, { method: :post, class: 'py-2 dropdown-item' }) do
                      = cow.milking ? 'Cerrar' : 'Comenzar'
                      Ordeño
                    - if cow.milking?
                      = link_to '#', class: 'py-2 dropdown-item', rel: "nofollow", 'data-target': "#milkWeight-#{cow.id}", 'data-toggle': 'modal' do
                        Pesaje de leche
                      = link_to farm_cow_milk_weights_path(@farm, cow), class: 'py-2 dropdown-item' do
                        Historial de pesajes
                      = link_to '#', class: 'py-2 dropdown-item', rel: "nofollow", 'data-target': "#createService-#{cow.id}", 'data-toggle': 'modal'  do
                        Registrar Servicio
                      = link_to '#', class: 'py-2 dropdown-item', rel: "nofollow", 'data-target': "#createPregnancy-#{cow.id}", 'data-toggle': 'modal'  do
                        Registrar Preñez
                    = link_to '#', class: 'py-2 dropdown-item', rel: "nofollow", 'data-target': "#transferToLot-#{cow.id}", 'data-toggle': 'modal'   do
                      Transferir de lote
              = render 'keppler_frontend/app/milk/milkWeight', cow: cow
              = render 'keppler_frontend/app/milk/createService', cow: cow
              = render 'keppler_frontend/app/milk/createPregnancy', cow: cow
              = render 'keppler_frontend/app/milk/transferToLot', cow: cow
      - else
        %tbody
          %th No se encuentra ningún lote estratégico asignado
= render 'keppler_frontend/app/milk/modalLote'
= render 'keppler_frontend/app/milk/editParams'
