.container_custom
  -# = render 'keppler_frontend/app/inseminations/partials/search', farm: farm, search: search
  .d-flex.justify-content-end
    -# .toolbar
      .toolbar-item
        -# %a.tool-btn{ 'data-confirm': '¿Estás seguro?', 'data-method': 'delete', 'v-bind:href': 'link', rel: 'nofollow', ':class': '{disabled: !checks}' }
        = link_to destroy_multiple_farm_strategic_lots_path(@farm), method: :delete, class: 'destroy_multiple' do
          %i.icofont-trash
    .actions.d-none.d-sm-block
      .float-right
        - unless inseminations.size.zero?
          %a#profileDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            %button.btn.btn_custom.btn--filled.btn--medium
              %i.icofont-clip-board
              Reporte
              %i.icofont-simple-down
          .dropdown-menu.profile_dropdown{"aria-labelledby" => "profileDropdown"}
            = link_to({action: action_name.to_sym, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
              PDF
            = link_to({action: action_name.to_sym, format: :xls}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
              XLS
            = link_to({action: action_name.to_sym, format: :csv}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
              CSV
        %a.float-right.mb-3.ml-2{ href: new_farm_insemination_path(farm) }
          %button.btn.btn_custom.btn--filled.btn--medium
            %i.icofont-plus
            Agregar
    -# - if action_name.eql?('index')
    -#   - if inseminations.size < @active_inseminations.size
    -#     .toolbar
    -#       .toolbar-item
    -#         = link_to 'Mostrar todos', farm_inseminations_path(farm)
    -# - else
    -#   - if inseminations.size < @inactive_inseminations.size
    -#     .toolbar
    -#       .toolbar-item
    -#         = link_to 'Mostrar todos', farm_inseminations_inactive_path(farm)
    .actions_movil.d-sm-none.mt-4.mb-4
      .float-right
        %a#profileDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
          %button.btn.btn_custom.btn--filled.btn--medium
            %i.icofont-simple-down
            Acciones
        .dropdown-menu.profile_dropdown{"aria-labelledby" => "profileDropdown"}
          %a.dropdown-item{ href: new_farm_insemination_path(farm), style: "color: #000;" }
            Agregar
          = link_to({action: :index, format: :pdf},  {class: 'dropdown-item', target: '_blank'}) do
            Reporte
  - if inseminations.blank? && @farm.inseminations.exists?
    .toolbar
      .toolbar-item
        = link_to 'Mostrar todos', farm_inseminations_path(farm)
  .content-table
    %table.insemination-table
      - if inseminations.size.zero?
        %thead
          %tr
            %th.not-records.center
              %center No se encontraron ganados
      - else
        %thead
          %tr
            -# %th
              %input#styled-checkbox-all.styled-checkbox{type: "checkbox"}
              %label{for: "styled-checkbox-all"}
            %th
              .toolbar-item
                .item-check
                  .checkbox
                    %label{ for: 'checkbox-all' }
                      %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()', name: 'multiple_ids' }
                      %span.cr
                        %i.cr-icon.icofont-check
            -# %th Imagen
            %th
              = sort_link(@q, 'serie_number') do
                Serie
            %th
              = sort_link(@q, 'weight&.weight') do
                Especie
            %th
              = sort_link(@q, 'race.name') do
                Raza
            %th
              = sort_link(@q, 'quantity') do
                Cantidad
            -# - if action_name.eql?('index')
              %th
        %tbody
          - inseminations.each do |insemination|
            %tr{ style: "border-bottom: 1px #eee solid;" }
              %td
                .checkbox{ style: 'margin: 3px' }
                  %label{ for: "checkbox-#{insemination.id}" }
                    %input{ type:"checkbox", id: "checkbox-#{insemination.id}", 'checklist-model' => 'check', 'checklist-value' => "#{insemination.id}", '@click' => "listDelete(#{insemination.id})"}
                    %span.cr
                      %i.cr-icon.icofont-check
              -# %td
                = link_to({controller: :inseminations, action: :show, farm_id: @farm&.id, id: insemination.id}) do
                  = image_tag insemination&.image&.url if insemination.image.url
              %td
                = link_to({controller: :inseminations, action: :show, farm_id: @farm&.id, id: insemination.id}) do
                  = insemination&.serie_number
              %td
                = link_to({controller: :inseminations, action: :show, farm_id: @farm&.id, id: insemination.id}) do
                  = insemination&.species&.name
              %td
                = link_to({controller: :inseminations, action: :show, farm_id: @farm&.id, id: insemination.id}) do
                  = insemination&.race&.name
              %td
                = link_to({controller: :inseminations, action: :show, farm_id: @farm&.id, id: insemination.id}) do
                  = insemination&.quantity
              -# - if action_name.eql?('index')
                %td
                  = link_to({controller: :inseminations, action: :mark_as_used, farm_id: @farm&.id, id: insemination.id}) do
                    %button.btn.btn_custom.btn--filled.btn--medium
                      %i.icofont-check
                      Usar
= paginate inseminations unless inseminations.blank?
