!!!
%html{ lang: 'en' }
  %head
    = render 'keppler_frontend/app/frontend/partials/head'
  %body
    = render 'keppler_frontend/app/frontend/components/navbar', farm: @farm, farms: @farms
    .app_wrapper
      = yield
    %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' }
    %script{ src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' }
    = javascript_include_tag '/assets/keppler_frontend/app/slick.min'
    = javascript_include_tag '/assets/keppler_frontend/app/main'