= render 'keppler_frontend/app/frontend/components/navbar', farm: @farm, farms: @farms
// = render 'keppler_frontend/app/frontend/components/profile-banner', farm: @farm
.app_wrapper
  %img.bg-shape2{src:'/assets/keppler_frontend/app/shape2.svg'}
  .container_custom
    .row
      .col-lg-12
        .description_land
          %h1 Descripción de la finca
          %p= raw @farm&.description
      .col-lg-12
        .photos_land
          .items
            - @farm&.photos.each do |photo|
              .carousel_img
<<<<<<< HEAD
                = image_tag (photo&.photo&.url || 'https://images.pexels.com/photos/787647/pexels-photo-787647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
          .multiple-items
            - @farm&.photos.each do |photo|
              .carousel_img_multiple
                = image_tag (photo&.photo&.url || 'https://images.pexels.com/photos/787647/pexels-photo-787647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')

=======
                = image_tag (photo&.photo&.url || 'https://images.unsplash.com/photo-1547046219-d3ce5318c5c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80')
          .multiple-items.d-none.d-sm-block
            - @farm&.photos.each do |photo|
              .carousel_img_multiple
                = image_tag (photo&.photo&.url || 'https://images.unsplash.com/photo-1547046219-d3ce5318c5c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80')
        
>>>>>>> 27ee3f1a37fe11e4db2dc79e7d25c94ae7bccfa3
          
