!!!
%html{ lang: 'en' }
  %head
    = render 'keppler_frontend/app/frontend/partials/head'
  %body
    .container
      = render 'keppler_frontend/app/frontend/components/buttons'
      = render 'keppler_frontend/app/frontend/components/form'
      = render 'keppler_frontend/app/frontend/components/table'
    %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' }
    %script{ src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' }
    %script{ src: '/assets/keppler_frontend/app/slick.min.js' }
    %script{ src: '/assets/keppler_frontend/app/main.js' }
:javascript
  console.log("#{current_user.role_ids}")