!!!
%html{ lang: 'en' }
  %head
    = render 'keppler_frontend/app/frontend/partials/head'
  %body
    = render 'keppler_frontend/app/frontend/components/navbar', farm: @farm, farms: @farms
    = render 'keppler_frontend/app/frontend/components/tabs'
    #moduleContent.tab-content
      #mfg.tab-pane.fade.show.active{ "aria-labelledby" => "mfg-tab", role: "tabpanel" }
        = render 'keppler_frontend/app/frontend/components/submodule_listing'
      #ale.tab-pane.fade{ "aria-labelledby" => "ale-tab", role: "tabpanel" }
        = render 'keppler_frontend/app/frontend/components/submodule_listing'
      #transfers.tab-pane.fade{ "aria-labelledby" => "transfers-tab", role: "tabpanel" }
        = render 'keppler_frontend/app/frontend/components/submodule_listing'
    %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' }
    %script{ src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' }
    %script{ src: 'assets/js/slick.min.js' }
    %script{ src: 'assets/js/main.js' }
