
%script{src: "/assets/keppler_frontend/app/jquery.min.js"}
.container_carousel
  .single-item
    .card_new
      %h1 Crear status inicial
      = simple_form_for [:admin, :cattle, @cow, @status], url: app_create_cattle_path do |f|
        .row
          .form-padding
            = f.input :cow_id, include_blank: false, input_html: { value: @cow.id }, as: :hidden
            .col-sm-12.col-md-3.col-lg-6
              = f.input :weight, input_html: { min: 0, value: (@last_status.weight if @last_status) }, placeholder: '0.00 KG', label: 'Peso'
            .col-sm-12.col-md-3.col-lg-6
              = f.input :gained_weight, input_html: { min: 0, value: (@last_status.weight if @last_status) }, disabled: true, placeholder: '0.00 KG', label: 'Peso ganado'
              = f.input :gained_weight, input_html: { min: 0, value: (@last_status.weight if @last_status) }, as: :hidden
            .col-sm-12.col-md-3.col-lg-4
              = f.input :years, input_html: { min: 0, value: @cow.years }, placeholder: '0', disabled: true, label: 'Años'
              = f.input :years, input_html: { min: 0, value: @cow.years }, placeholder: '0', as: :hidden
            .col-sm-12.col-md-3.col-lg-4
              = f.input :months, input_html: { min: 0, value: @cow.months }, placeholder: '0', disabled: true, label: 'Meses'
              = f.input :months, input_html: { min: 0, value: @cow.months }, placeholder: '0', as: :hidden
            .col-sm-12.col-md-3.col-lg-4
              = f.input :days, input_html: { min: 0, value: @cow.days }, placeholder: '0', disabled: true, label: 'Días de nacido'
              = f.input :days, input_html: { min: 0, value: @cow.days }, placeholder: '0', as: :hidden
            .col-sm-12.col-md-4
              = f.input :farm_id, input_html: { value: (@last_status.farm_id if @last_status) }, collection: @farms, include_blank: false, label: 'Finca'
            .col-sm-12.col-md-4
              = f.input :ubication, input_html: { value: (@last_status.ubication if @last_status) }, collection: @ubications, label: 'Ubicación'
            .col-sm-12.col-md-4
              = f.input :corporal_condition, input_html: { value: (@last_status.corporal_condition if @last_status) }, collection: @corporal_conditions, include_blank: false, label: 'Condición corporal'
            - if @cow.gender?('male')
              .col-xs-6.col-sm-6.col-md-3
                = f.input :reproductive, input_html: { value: (@last_status.reproductive if @last_status) }, as: :keppler_boolean, label: 'Reproductivo'
              .col-xs-6.col-sm-6.col-md-3
                = f.input :defiant, as: :keppler_boolean, label: 'Recelador'
            - if @cow.gender?('female')
              .col-xs-6.col-sm-6.col-md-2
                = f.input :pregnant, as: :keppler_boolean, label: 'Preñada'
              .col-xs-6.col-sm-6.col-md-2
                = f.input :lactating, as: :keppler_boolean, label: 'Lactando'
              .col-xs-6.col-sm-6.col-md-2
                = f.input :breeding, as: :keppler_boolean, label: 'Criando'
            .col-xs-6.col-sm-6.col-md-2
              = f.input :dead, as: :keppler_boolean, label: 'Muerto'
            .col-xs-6.col-sm-6.col-md-4
              = f.input :deathdate, as: :string, input_html: { class: 'datepicker', disabled: true }, label: 'Fecha de muerte'
            .col-sm-12.col-md-6.col-lg-6
              = f.input :strategic_lot_id, collection: @strategic_lots, input_html: { min: 0 }, label: 'Lote estratégico'
            .col-sm-12.col-md-6.col-lg-6
              = f.input :typology, include_blank: false, collection: @typologies, label: 'Tipología'
            .col-sm-12.col-md-6.col-lg-6
              = f.input :user_id, input_html: { value: current_user.id }, as: :hidden, label: 'Responsable'
            .col-sm-12
              = f.input :comments, label: t('activerecord.attributes.comments').humanize
      -# .row
        .col-lg-4
          .form-group
            %label.label_custom--strong Peso (kg)
            %input.form-control.input_custom
        .col-lg-4
          .form-group
            %label.label_custom--strong Edad (años)
            %input.form-control.input_custom
        .col-lg-4
          .form-group
            %label.label_custom--strong Edad (meses)
            %input.form-control.input_custom
        .col-lg-6
          .form-group
            %label.label_custom--strong Ubicación
            %ul.select
              %li
                %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                %span.select_label.select_label-placeholder Seleccione la ubicación
              %li.select_items
                %input.select_expand{id:"ubicacion", name: "select_custom", type: "radio"}
                %label.select_closeLabel{for: "select-close"}
                %ul.select_options
                  - 2.times do |x|
                    %li.select_option
                      %input.select_input{id:"ubicacion-#{x}", name: "select_custom", type: "radio"}
                      %label.select_label{for: "ubicacion-#{x}"} ubicacion #{x}
                %label.select_expandLabel{for: "ubicacion"}
        .col-lg-6
          .form-group
            %label.label_custom--strong Condición Corporal
            %ul.select
              %li
                %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                %span.select_label.select_label-placeholder Seleccione la condición
              %li.select_items
                %input.select_expand{id:"condicion", name: "select_custom", type: "radio"}
                %label.select_closeLabel{for: "select-close"}
                %ul.select_options
                  - 2.times do |x|
                    %li.select_option
                      %input.select_input{id:"condicion-#{x}", name: "select_custom", type: "radio"}
                      %label.select_label{for: "condicion-#{x}"} condicion #{x}
                %label.select_expandLabel{for: "condicion"}
        .col-lg-6
          .form-group
            %label.label_custom--strong Lote estratégico
            %ul.select
              %li
                %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                %span.select_label.select_label-placeholder Seleccione un lote estratégico
              %li.select_items
                %input.select_expand{id:"lote", name: "select_custom", type: "radio"}
                %label.select_closeLabel{for: "select-close"}
                %ul.select_options
                  - 2.times do |x|
                    %li.select_option
                      %input.select_input{id:"lote-#{x}", name: "select_custom", type: "radio"}
                      %label.select_label{for: "lote-#{x}"} lote #{x}
                %label.select_expandLabel{for: "lote"}
        .col-lg-6
          .form-group
            %label.label_custom--strong Tipología
            %ul.select
              %li
                %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                %span.select_label.select_label-placeholder Seleccione la tipología
              %li.select_items
                %input.select_expand{id:"tipologia", name: "select_custom", type: "radio"}
                %label.select_closeLabel{for: "select-close"}
                %ul.select_options
                  - 2.times do |x|
                    %li.select_option
                      %input.select_input{id:"tipologia-#{x}", name: "select_custom", type: "radio"}
                      %label.select_label{for: "tipologia-#{x}"} tipologia #{x}
                %label.select_expandLabel{for: "tipologia"}
        .col-lg-3
          %label.label_custom--strong Preñada
          %label.keppler-switch
            %input#status_pregnant{checked: "checked", name: "status[pregnant]", type: "checkbox", value: "false"}/
            %span.slider.round
            %label.inline-label
        .col-lg-3
          %label.label_custom--strong Lactando
          %label.keppler-switch
            %input#status_pregnant{checked: "checked", name: "status[lactating]", type: "checkbox", value: "false"}/
            %span.slider.round
            %label.inline-label
        .col-lg-3
          %label.label_custom--strong Muerto
          %label.keppler-switch
            %input#status_pregnant{checked: "checked", name: "status[dead]", type: "checkbox", value: "false"}/
            %span.slider.round
            %label.inline-label
        .col-lg-3
          .form-group
            %label.label_custom--strong Fecha de muerte
            %input.form-control.input_custom
        .col-lg-12
          .form-group
            %label.label_custom--strong Comentarios
            %textarea.form-control.input_custom
        .col-lg-12
          %a.float-right.mt-4.mb-4{ href: '' }
            %button.btn.btn_custom.btn--filled.btn--medium
              %i.icofont-save
              Guardar

// Plugins
-# %link{href: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", rel: "stylesheet"}/
-# %script{src: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}

:javascript
  $('.keppler-switch').click(function(event) {
    event.preventDefault()
    var input = $(this).find('input')
    var label = $(this).find('.inline-label')
    input
      .toggleClass('active')
      .val(input.hasClass('active'))
    label
      .toggleClass('active')
      //.text(label.hasClass('active'))
  })

  $('#status_ubication').select2({
    tags: true,
    placeholder: "Selecciona o escribe una ubicación",
  });

  $('#status_farm_id').select2({
    placeholder: "Selecciona una finca",
  });

  $('#status_strategic_lot_id').select2({
    placeholder: "Selecciona un lote estratégico",
  });

  $('.status_dead').click(function() {
    if ($(this).find('.inline-label').hasClass('active')) {
      document.getElementById('status_deathdate').disabled = false
    } else {
      document.getElementById('status_deathdate').disabled = true
      document.getElementById('status_deathdate').value = ""
    }
  })
  