.container_carousel
  .single-item
    .card_new
      %h1 Datos generales
      = simple_form_for [:admin, :cattle, @cow], url: app_create_cattle_path do |f|
        .form-padding
          .row
            .col-sm-6
              = f.input :mother_id, collection: @posible_mothers, label: 'Madre', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :father_id, collection: @posible_fathers, label: 'Padre', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :serie_number, as: :string, label: 'Número de serie', required: true, label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :short_name, as: :string, label: 'Nombre corto', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-12
              = f.input :long_name, as: :string, label: 'Nombre largo', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :species, collection: @species, include_blank: false, label: 'Especie', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :gender, collection: @genders, include_blank: false, label: 'Género', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :race, collection: @races, include_blank: false, label: 'Raza', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :birthdate, as: :string, label: 'Fecha de nacimiento', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom datepicker' }
            .col-sm-6
              = f.input :coat_color, as: :string, label: 'Color de pelaje', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :nose_color, as: :string, label: 'Color de morro', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :tassel_color, as: :string, label: 'Color de borla', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-6
              = f.input :provenance, as: :string, label: 'Procedencia', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-12
              = f.input :observations, label: 'Observaciones', label_html: { class: 'label_custom--strong' }, input_html: { class: ' form-control input_custom' }
            .col-sm-12
              .float-right
                %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                  %i.icofont-save
                  Guardar
        -# .row
          .col-lg-6
            .form-group
              %abbr * 
              %label.label_custom--strong Número de serie
              %input.form-control.input_custom#serie_number{ name: 'cow[serie_number]', required: true }
          .col-lg-6
            .form-group
              %label.label_custom--strong Nombre corto
              %input.form-control.input_custom#short_name{ name: 'cow[short_name]' }
          .col-lg-12
            .form-group
              %label.label_custom--strong Nombre largo
              %input.form-control.input_custom
          .col-lg-6
            .form-group
              %label.label_custom--strong Especie
              %ul.select
                %li
                  %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                  %span.select_label.select_label-placeholder Escoger la especie
                %li.select_items
                  %input.select_expand{id:"especie", name: "select_custom", type: "radio"}
                  %label.select_closeLabel{for: "select-close"}
                  %ul.select_options
                    %li.select_option
                      %input.select_input{ name: "select_custom", type: "radio"}
                      %label.select_label{for: "especie-#{x}"} especie #{x}
                    %li.select_option
                      %input.select_input{id:"especie-#{x}", name: "select_custom", type: "radio"}
                      %label.select_label{for: "especie-#{x}"} especie #{x}
                  %label.select_expandLabel{for: "especie"}
            .form-group
              %label.label_custom--strong Raza
              %ul.select
                %li
                  %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                  %span.select_label.select_label-placeholder Escoger raza
                %li.select_items
                  %input.select_expand{id:"raza", name: "select_custom", type: "radio"}
                  %label.select_closeLabel{for: "select-close"}
                  %ul.select_options
                    - 3.times do |x|
                      %li.select_option
                        %input.select_input{id:"raza-#{x}", name: "select_custom", type: "radio"}
                        %label.select_label{for: "raza-#{x}"} raza #{x}
                  %label.select_expandLabel{for: "raza"}
            .form-group
              %label.label_custom--strong Color de pelaje
              %input.form-control.input_custom
            .form-group
              %label.label_custom--strong Color de borla
              %input.form-control.input_custom
          .col-lg-6
            .form-group
              %label.label_custom--strong Género
              %ul.select
                %li
                  %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                  %span.select_label.select_label-placeholder Escoger género
                %li.select_items
                  %input.select_expand{id:"genero", name: "select_custom", type: "radio"}
                  %label.select_closeLabel{for: "select-close"}
                  %ul.select_options
                    - 2.times do |x|
                      %li.select_option
                        %input.select_input{id:"genero-#{x}", name: "select_custom", type: "radio"}
                        %label.select_label{for: "genero-#{x}"} genero #{x}
                  %label.select_expandLabel{for: "genero"}
            .form-group
              %label.label_custom--strong Fecha de Nacimiento
              %input.form-control.input_custom
            .form-group
              %label.label_custom--strong Color de morro
              %input.form-control.input_custom
            .form-group
              %label.label_custom--strong Procedencia
              %input.form-control.input_custom
          .col-lg-12
            .form-group
              %label.label_custom--strong Observaciones
              %textarea.form-control.input_custom
    -# .card_new
      %h1 Crear status inicial
      = simple_form_for [:admin, :cattle, @cow, @status], url: cattle.admin_cattle_cow_statuses_path(@cow.id) do |f|
        .row
          .form-padding
            = f.input :cow_id, include_blank: false, input_html: { value: @cow.id }, as: :hidden
            .col-sm-12.col-md-3.col-lg-6
              = f.input :weight, input_html: { min: 0, value: (@last_status.weight if @last_status) }, placeholder: '0.00 KG', label: 'Peso'
            .col-sm-12.col-md-3.col-lg-6
              = f.input :gained_weight, input_html: { min: 0, value: (@last_status.weight if @last_status) }, disabled: true, placeholder: '0.00 KG', label: 'Peso ganado'
              = f.input :gained_weight, input_html: { min: 0, value: (@last_status.weight if @last_status) }, as: :hidden
            .col-sm-12.col-md-3.col-lg-4
              = f.input :years, input_html: { min: 0, value: @cow.years }, placeholder: '0', disabled: true, label: 'Años'
              = f.input :years, input_html: { min: 0, value: @cow.years }, placeholder: '0', as: :hidden
            .col-sm-12.col-md-3.col-lg-4
              = f.input :months, input_html: { min: 0, value: @cow.months }, placeholder: '0', disabled: true, label: 'Meses'
              = f.input :months, input_html: { min: 0, value: @cow.months }, placeholder: '0', as: :hidden
            .col-sm-12.col-md-3.col-lg-4
              = f.input :days, input_html: { min: 0, value: @cow.days }, placeholder: '0', disabled: true, label: 'Días de nacido'
              = f.input :days, input_html: { min: 0, value: @cow.days }, placeholder: '0', as: :hidden
            .col-sm-12.col-md-4
              = f.input :farm_id, input_html: { value: (@last_status.farm_id if @last_status) }, collection: @farms, include_blank: false, label: 'Finca'
            .col-sm-12.col-md-4
              = f.input :ubication, input_html: { value: (@last_status.ubication if @last_status) }, collection: @ubications, label: 'Ubicación'
            .col-sm-12.col-md-4
              = f.input :corporal_condition, input_html: { value: (@last_status.corporal_condition if @last_status) }, collection: @corporal_conditions, include_blank: false, label: 'Condición corporal'
            - if @cow.gender?('male')
              .col-xs-6.col-sm-6.col-md-3
                = f.input :reproductive, input_html: { value: (@last_status.reproductive if @last_status) }, as: :keppler_boolean, label: 'Reproductivo'
              .col-xs-6.col-sm-6.col-md-3
                = f.input :defiant, as: :keppler_boolean, label: 'Recelador'
            - if @cow.gender?('female')
              .col-xs-6.col-sm-6.col-md-2
                = f.input :pregnant, as: :keppler_boolean, label: 'Preñada'
              .col-xs-6.col-sm-6.col-md-2
                = f.input :lactating, as: :keppler_boolean, label: 'Lactando'
              .col-xs-6.col-sm-6.col-md-2
                = f.input :breeding, as: :keppler_boolean, label: 'Criando'
            .col-xs-6.col-sm-6.col-md-2
              = f.input :dead, as: :keppler_boolean, label: 'Muerto'
            .col-xs-6.col-sm-6.col-md-4
              = f.input :deathdate, as: :string, input_html: { class: 'datepicker', disabled: true }, label: 'Fecha de muerte'
            .col-sm-12.col-md-6.col-lg-6
              = f.input :strategic_lot_id, collection: @strategic_lots, input_html: { min: 0 }, label: 'Lote estratégico'
            .col-sm-12.col-md-6.col-lg-6
              = f.input :typology, include_blank: false, collection: @typologies, label: 'Tipología'
            .col-sm-12.col-md-6.col-lg-6
              = f.input :user_id, input_html: { value: current_user.id }, as: :hidden, label: 'Responsable'
            .col-sm-12
              = f.input :comments, label: t('activerecord.attributes.comments').humanize
      -# .row
        .col-lg-4
          .form-group
            %label.label_custom--strong Peso (kg)
            %input.form-control.input_custom
        .col-lg-4
          .form-group
            %label.label_custom--strong Edad (años)
            %input.form-control.input_custom
        .col-lg-4
          .form-group
            %label.label_custom--strong Edad (meses)
            %input.form-control.input_custom
        .col-lg-6
          .form-group
            %label.label_custom--strong Ubicación
            %ul.select
              %li
                %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                %span.select_label.select_label-placeholder Seleccione la ubicación
              %li.select_items
                %input.select_expand{id:"ubicacion", name: "select_custom", type: "radio"}
                %label.select_closeLabel{for: "select-close"}
                %ul.select_options
                  - 2.times do |x|
                    %li.select_option
                      %input.select_input{id:"ubicacion-#{x}", name: "select_custom", type: "radio"}
                      %label.select_label{for: "ubicacion-#{x}"} ubicacion #{x}
                %label.select_expandLabel{for: "ubicacion"}
        .col-lg-6
          .form-group
            %label.label_custom--strong Condición Corporal
            %ul.select
              %li
                %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                %span.select_label.select_label-placeholder Seleccione la condición
              %li.select_items
                %input.select_expand{id:"condicion", name: "select_custom", type: "radio"}
                %label.select_closeLabel{for: "select-close"}
                %ul.select_options
                  - 2.times do |x|
                    %li.select_option
                      %input.select_input{id:"condicion-#{x}", name: "select_custom", type: "radio"}
                      %label.select_label{for: "condicion-#{x}"} condicion #{x}
                %label.select_expandLabel{for: "condicion"}
        .col-lg-6
          .form-group
            %label.label_custom--strong Lote estratégico
            %ul.select
              %li
                %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                %span.select_label.select_label-placeholder Seleccione un lote estratégico
              %li.select_items
                %input.select_expand{id:"lote", name: "select_custom", type: "radio"}
                %label.select_closeLabel{for: "select-close"}
                %ul.select_options
                  - 2.times do |x|
                    %li.select_option
                      %input.select_input{id:"lote-#{x}", name: "select_custom", type: "radio"}
                      %label.select_label{for: "lote-#{x}"} lote #{x}
                %label.select_expandLabel{for: "lote"}
        .col-lg-6
          .form-group
            %label.label_custom--strong Tipología
            %ul.select
              %li
                %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
                %span.select_label.select_label-placeholder Seleccione la tipología
              %li.select_items
                %input.select_expand{id:"tipologia", name: "select_custom", type: "radio"}
                %label.select_closeLabel{for: "select-close"}
                %ul.select_options
                  - 2.times do |x|
                    %li.select_option
                      %input.select_input{id:"tipologia-#{x}", name: "select_custom", type: "radio"}
                      %label.select_label{for: "tipologia-#{x}"} tipologia #{x}
                %label.select_expandLabel{for: "tipologia"}
        .col-lg-3
          %label.label_custom--strong Preñada
          %label.keppler-switch
            %input#status_pregnant{checked: "checked", name: "status[pregnant]", type: "checkbox", value: "false"}/
            %span.slider.round
            %label.inline-label
        .col-lg-3
          %label.label_custom--strong Lactando
          %label.keppler-switch
            %input#status_pregnant{checked: "checked", name: "status[lactating]", type: "checkbox", value: "false"}/
            %span.slider.round
            %label.inline-label
        .col-lg-3
          %label.label_custom--strong Muerto
          %label.keppler-switch
            %input#status_pregnant{checked: "checked", name: "status[dead]", type: "checkbox", value: "false"}/
            %span.slider.round
            %label.inline-label
        .col-lg-3
          .form-group
            %label.label_custom--strong Fecha de muerte
            %input.form-control.input_custom
        .col-lg-12
          .form-group
            %label.label_custom--strong Comentarios
            %textarea.form-control.input_custom
        .col-lg-12
          %a.float-right.mt-4.mb-4{ href: '' }
            %button.btn.btn_custom.btn--filled.btn--medium
              %i.icofont-save
              Guardar
:javascript
  $('.keppler-switch').click(function(event) {
    event.preventDefault()
    var input = $(this).find('input')
    var label = $(this).find('.inline-label')
    input
      .toggleClass('active')
      .val(input.hasClass('active'))
    label
      .toggleClass('active')
      //.text(label.hasClass('active'))
  })

  window.I18n = #{current_translations.to_json.html_safe}

  function doesFileExist(urlToFile) {
    var xhr = new XMLHttpRequest();
    xhr.open('HEAD', urlToFile, false);
    xhr.send();

    return xhr.status == "404" ? false : true;
  }
  
  function imageSelect (option) {
    var optionTxt = option.text.toLowerCase()
    if (!option.id) return optionTxt;
    var baseUrl = '/assets/keppler_cattle/';
    var url = baseUrl + (doesFileExist(baseUrl + optionTxt) ? optionTxt : '/ternera')
    var $option = $(
      '<span class="cattle-option">' +
        `<div style="background-image: url(${url})" class="img-cattle-list"></div>` + 
        (I18n.keppler_cattle[optionTxt] || optionTxt) +
      '</span>'
    );
    return $option;
  };
  
  function noImageSelect (option) {
    var optionTxt = option.text.toLowerCase()
    if (!option.id) return optionTxt;
    var $option = $(
      '<span class="cattle-option">' +
        (I18n.keppler_cattle[optionTxt] || optionTxt) +
      '</span>'
    );
    return $option;
  };

  $(document).ready(function() {
    $('#cow_species').select2({
      placeholder: "#{t('keppler_cattle.messages.choose_species').humanize}",
      templateResult: imageSelect,
      templateSelection: imageSelect
    });

    $('#cow_gender').select2({
      placeholder: "#{t('keppler_cattle.messages.choose_gender').humanize}",
      templateResult: imageSelect,
      templateSelection: imageSelect
    });

    $('#cow_race').select2({
      placeholder: "#{t('keppler_cattle.messages.choose_race').humanize}",
      templateResult: noImageSelect,
      templateSelection: noImageSelect
    });

    $('#cow_mother_id').select2({
      placeholder: "#{t('keppler_cattle.messages.choose_mother').humanize}",
      templateResult: noImageSelect,
      templateSelection: noImageSelect
    });

    $('#cow_father_id').select2({
      placeholder: "#{t('keppler_cattle.messages.choose_father').humanize}",
      templateResult: noImageSelect,
      templateSelection: noImageSelect
    });
  });

  $('.datepicker').datepicker({
    dateFormat: 'yy-mm-dd', // formato obligatorio para Keppler
    showOtherMonths: true,
    selectOtherMonths: true,
    changeMonth: true,
    changeYear: true,
    maxDate: 0,
    setDate: 0

    // Ver documentación en https://jqueryui.com/datepicker
  })

:scss


  .cattle-list {
    height: 187px;
    overflow: scroll;
  }

  .cattle-option {
    display: flex;
    align-items: center;
    // justify-content: center;

    .img-cattle-list {
      height: 20px;
      margin: 0 5px;
      width: 20px;
      display: inline-flex;
      background-size: cover;
      background-position: top center;
    }
  }