.container_custom
  .d-flex.justify-content-end.mb-5
    -# .toolbar
      %a{ href: '' }
        %i.icofont-trash
      %a{ href: '' }
        %i.icofont-refresh
      %a{ href: '' }
        %i.icofont-download
    .actions
      .float-right
        %a.mt-4.mb-4.ml-3{ href: app_edit_cattle_path(@farm, @cow) }
          %button.btn.btn_custom.btn--filled.btn--medium
            %i.icofont-ui-edit
            Editar
        %at.mt-4.mb-4{ href: app_new_status_path(@farm, @cow) }
          %button.btn.btn_custom.btn--filled.btn--medium
            %i.icofont-plus
            Nuevo Status
.container_custom
  .row
    .col-lg-4
      .card_show.p-5
        .card_cow
          %img.avatar_cow{ src: 'https://image.flaticon.com/icons/svg/523/523448.svg' }
          .card_cow_content
            %h1= @cow.short_name
            %strong= @cow.serie_number
            %span= @cow.race
        .row.mt-5
          .col-lg-6
            %dl
              %dt Fecha de Nacimiento
              %dd= @cow.birthdate
              %dt Edad (Años-Meses)
              %dd #{@cow.years}-#{@cow.months}
              %dt Tipología
              %dd= @cow.statuses.last.typology
              %dt Procedencia
              %dd= @cow.provenance
          .col-lg-6
            %dl
              %dt Color Pelaje
              %dd= @cow.coat_color
              %dt Color Morro
              %dd= @cow.nose_color
              %dt Borla
              %dd= @cow.tassel_color
              %dt Condición corporal
              %dd= @cow.statuses.last.corporal_condition
              - if @cow.statuses.last.strategic_lot
                %dt Lote estrátegico
                %dd= @cow.statuses.last.strategic_lot
    .col-lg-4
      .card_show.card_status
        .card_status--title
          %h2 Status
        - @statuses.each do |status|
          .card_status--inner{"data-toggle" => "modal", "data-target" => "#modalStatus"}
            %dl
              %dt
                %i.icofont-ui-calendar
              %dd= status.created_at
              %dt
                %i.icofont-dumbbell
              %dd #{status.weight} (kg)
              %dt
                %i.icofont-info
              %dd #{status.typology}
    .col-lg-4
      .card_show#mother
        %h2 Datos de la Madre
        .row
          .col-lg-6
            %dl
              %dt Serie Madre
              %dd 0001
              %dt Nombre de la Madre
              %dd Vaquita
          .col-lg-6
            %dl
              %dt Fecha de Nacimiento
              %dd 11/08/2009
              %dt Raza
              %dd Pura
          .col-lg-6
            %dl
              %dt Asociación 1
              %dd Asociada
              %dt Registro 1
              %dd Registrado
              %dt Tipo
              %dd Tipo
          .col-lg-6
            %dl
              %dt Asociación 2
              %dd Asociada
              %dt Registro 2
              %dd Registrado
              %dt Tipo
              %dd Tipo
      .card_show
        %h2 Datos del Padre
        .row
          .col-lg-6
            %dl
              %dt Serie Padre
              %dd 0001
              %dt Nombre de la Padre
              %dd Vaquita
              %dt Pajuela
              %dd Verdadero
          .col-lg-6
            %dl
              %dt Fecha de Nacimiento
              %dd 11/08/2009
              %dt Raza
              %dd Pura
          .col-lg-6
            %dl
              %dt Asociación 1
              %dd Asociada
              %dt Registro 1
              %dd Registrado
              %dt Tipo
              %dd Tipo
          .col-lg-6
            %dl
              %dt Asociación 2
              %dd Asociada
              %dt Registro 2
              %dd Registrado
              %dt Tipo
              %dd Tipo
= render 'keppler_frontend/app/frontend/partials/modal_status'