.single-item
  %button.btn.btn_custom.btn--medium
    %i.icofont-circled-left
    Listado
  .row
    .col-lg-9
      .card_new
        %h1 
          Crear Historial Medico
          %span.ml-3{style: "color:#797979 !important;"}
        %form.form-padding{action:""}
          .row  
            .col-sm-12.col-md-6
              %label.label_custom--strong Fecha de Evaluación
              %input.form-control.input_custom.datepicker{ autocomplete: 'off', value: Date.today }
            .col-sm-12.col-md-6
              -# = f.input :name, label: 'Nombre del Responsable', placeholder: false, label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }
              %label.label_custom--strong Nombre del responsable
              %input.form-control.input_custom{ autocomplete: 'off', list: 'responsables' }
              %datalist#responsables
                - KepplerFarm::Responsable.all.each do |responsable|
                  %option{ value: responsable.name }
            .col-sm-12.col-md-6
              %label.label_custom--strong Evaluacion
              %input.form-control.input_custom
            .col-sm-12.col-md-6
              %label.label_custom--strong Diagnostico
              %input.form-control.input_custom
            .col-sm-12
              %label.label_custom--strong Proxima cita
              %input.form-control.input_custom.datepicker{ autocomplete: 'off', value: Date.today }
            .col-sm-12.mt-4
              .float-right
                %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                  %i.icofont-save
                  Guardar
    .col-lg-3.col-md-4.col-sm-12
      .card_new
        
        .float-right
          -# = image_tag "/assets/keppler_cattle/#{@cow.species}", class: 'svg-icon-md p-absolute r-0' unless @cow.species.blank?
          = image_tag "/assets/keppler_cattle/#{@cow.gender}", class: 'svg-icon-md p-absolute r-0' unless @cow.gender.blank?
        .row
          .col-sm-12{ :style =>"display: flex; justify-content: center;"}
            .card_cow
              %center.row
                .col-lg-12
                  = image_tag (@cow.image&.url || (@cow.gender?('male') ? 'https://image.flaticon.com/icons/svg/1495/1495074.svg' : 'https://image.flaticon.com/icons/svg/523/523448.svg')), class: 'avatar_cow'
                .col-lg-12
                  .card_cow_content{ :style => "text-align: center;"}
                    %h2= @cow.serie_number
                    %small= "(#{@cow.short_name})" unless @cow.short_name.blank?
                    %strong
                      = @cow.typology_name unless @cow.typology&.blank?
                    %span= @cow.race&.name
                .col-lg-12.mt-5
                  .row
                    .col-lg-12
                      %dl
                        %dt.card_status_details Años - Meses
                        %dd.card_status_details #{@cow.years} - #{@cow.months}
                    .col-lg-12
                      %dl
                        %dt.card_status_details Fecha de Nacimiento
                        %dd.card_status_details= @cow.birthdate
    
    .card_show.cow_info.p-5
      .row.mt-5.mb-5
        .col-lg-3{ :style =>"display: flex; justify-content: center;"}
          .card_cow
            .row
              %center.col-lg-12
                = image_tag (@cow.image&.url || (@cow.gender?('male') ? 'https://image.flaticon.com/icons/svg/1495/1495074.svg' : 'https://image.flaticon.com/icons/svg/523/523448.svg')), class: 'avatar_cow'
              .col-lg-12
                .card_cow_content{ :style => "text-align: center;"}
                  %h1
                    = @cow.serie_number
                  %small= "(#{@cow.short_name})" unless @cow.short_name.blank?
                  %strong
                    = @cow.typology_name unless @cow.typology&.blank?
                  %span= @cow.race&.name  
        .col-lg-9
          .row
            .col-lg-4.col-sm-4
              %dl
                %dt Fecha de evalución
                %dd= @cow.birthdate
                %dt Responsable
                %dd Gladibeth Franco
                %dt Evaluación
                %dd Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            .col-lg-4.col-sm-4
              %dl
                %dt Diagnóstico
                %dd Lorem Ipsum es un texto de marcador de posición comúnmente utilizado en las industrias gráficas, gráficas y editoriales para previsualizar diseños y maquetas visuales
                %dt Faltan
                %dd 
                  %strong 10 
                  %span días para su proxima cita                    
            .col-lg-4.col-sm-4
              #datepicker
:css
  .ui-datepicker-month{
    color: #4d5663 !important;
  }
  .ui-datepicker-year{
    color: #4d5663 !important;
  }
:javascript
  $(function () {
    $.datepicker.setDefaults($.datepicker.regional["es"]);
      var pickerOpts = {
         rangeSelect: true,
         rangeSeparator: " to "
      };   
      $("#datepicker").datepicker({

    });
  });