
-# %script{src: "/assets/keppler_frontend/app/jquery.min.js"}
-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
.app_wrapper
  .container_carousel
    .single-item
      - unless @cow.weight.blank?
        = link_to({controller: :cattle, action: :index}, { class: 'mt-4 mb-4 ml-3' }) do
          %button.btn.btn_custom.btn--medium
            %i.icofont-circled-left
            Listado
      .row
        .col-lg-9.col-md-12
          .card_new
            %h1
              Crear pesaje
              %span.ml-3{style: "color:#797979 !important;"} (#{@cow.serie_number})
            = simple_form_for [@farm, @cow, @weight] do |f|
              .form-padding
                .row
                  = f.input :user_id, include_blank: false, input_html: { class: 'form-control input_custom', value: current_user.id }, as: :hidden, label_html: { class: 'label_custom--strong' }
                  = f.input :cow_id, include_blank: false, input_html: { class: 'form-control input_custom', value: @cow&.id }, as: :hidden, label_html: { class: 'label_custom--strong' }
                  - unless @cow.weights.where(weaning: true).exists?
                    .col-sm-6
                      = f.input :weaning, label: 'Destete', as: :keppler_boolean
                  .col-sm-12.col-md-6
                    = f.input :weight, placeholder: '0.00 KG', label: 'Peso (KG)', input_html: { class: 'form-control input_custom', min: 0, value: (@last_weight&.weight.blank? ? 0 : @last_weight&.weight) }, label_html: { class: 'label_custom--strong' }
                  .col-sm-12.col-md-6
                    = f.input :gained_weight, input_html: { class: 'form-control input_custom' }, readonly: true, placeholder: '0.00 KG', label: 'Peso ganado (KG)', label_html: { class: 'label_custom--strong' }
                  .col-sm-12.col-md-6
                    = f.input :average_weight, input_html: { class: 'form-control input_custom' }, readonly: true, placeholder: '0.00 KG', label: 'Peso promedio (KG)', label_html: { class: 'label_custom--strong' }
                  .col-sm-12.col-md-6
                    = f.input :corporal_condition_id, collection: @corporal_conditions, selected: (@last_weight&.corporal_condition if @last_status), include_blank: false, label: 'Condición corporal', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }
                  .col-sm-12.col-md-6
                    = f.input :weighting_date, as: :string, label: 'Fecha de pesaje', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom datepicker', autocomplete: 'off', value: (Date.current) }
                  .col-sm-12
                    = f.input :observations, label: 'Observaciones', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }
                  .col-sm-12
                    .float-right
                      %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                        %i.icofont-save
                        Guardar
        .col-lg-3.d-md-none.d-lg-block
          .card_new
            .float-right
              -# = image_tag "/assets/keppler_cattle/#{@cow.species}", class: 'svg-icon-md p-absolute r-0' unless @cow.species.blank?
              = image_tag "/assets/keppler_cattle/#{@cow.gender}", class: 'svg-icon-md p-absolute r-0' unless @cow.gender.blank?
            .row
              .col-sm-12{ :style =>"display: flex; justify-content: center;"}
                .card_cow
                  %center.row
                    .col-lg-12
                      = image_tag (@cow.image&.url || (@cow.gender?('male') ? 'https://image.flaticon.com/icons/svg/1495/1495074.svg' : 'https://image.flaticon.com/icons/svg/523/523448.svg')), class: 'avatar_cow'
                    .col-lg-12
                      .card_cow_content{ :style => "text-align: center;"}
                        %h2= @cow.serie_number
                        %small= "(#{@cow.short_name})" unless @cow.short_name.blank?
                        %strong
                          = @cow.typology_name unless @cow.typology&.blank?
                        %span= @cow.race&.name
                        -# %p= @cow.observations.col-lg-4.col-md-6
                    .col-lg-12.mt-5
                      .row
                        .col-lg-12
                          %dl
                            %dt.card_status_details Años - Meses
                            %dd.card_status_details #{@cow.years} - #{@cow.months}
                        .col-lg-12
                          %dl
                            %dt.card_status_details Fecha de Nacimiento
                            %dd.card_status_details= @cow.birthdate

                        .col-lg-12
                          %dl
                            %dt.card_status_details
                              Días de nacido
                            %dd.card_status_details= @cow.days


// Plugins
%link{href: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", rel: "stylesheet"}/
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}
:javascript
  $('.keppler-switch').click(function(event) {
    event.preventDefault()
    var input = $(this).find('input')
    var label = $(this).find('.inline-label')
    input
      .toggleClass('active')
      .val(input.hasClass('active'))
    label
      .toggleClass('active')
      //.text(label.hasClass('active'))
  })
-# :javascript
  $('.status_dead').click(function() {
    if ($(this).find('.inline-label').hasClass('active')) {
      document.getElementById('status_deathdate').disabled = false
    } else {
      document.getElementById('status_deathdate').disabled = true
      document.getElementById('status_deathdate').value = ""
    }
  })
-# :javascript
  function noImageSelect (option) {
    var optionTxt = option.text
    if (!option.id) return optionTxt;
    var $option = $(
      '<span class="cattle-option">' +
        optionTxt +
      '</span>'
    );
    return $option;
  };

  $('#status_typology').select2({
    placeholder: "Elige una tipología",
    templateResult: noImageSelect,
    templateSelection: noImageSelect
  });
:javascript
  var last_weight = #{@cow.weight&.weight ? @cow.weight&.weight : 0}
  var born_days = #{@cow.days}

  $(document).ready(function() {
    $('#weight_gained_weight').val(
       $('#weight_weight').val() - last_weight
    )
    $('#weight_average_weight').val(
      born_days == 0 ? 0 : $('#weight_weight').val() - last_weight / born_days
    )
  })

  $('#weight_weight').keyup(function() {
    $('#weight_gained_weight').val(
       $('#weight_weight').val() - last_weight
    )
    $('#weight_average_weight').val(
      born_days == 0 ? 0 : $('#weight_weight').val() - last_weight / born_days
    )
  })

:javascript
  $.datepicker.regional['es'] = {
    closeText: 'Cerrar',
    prevText: '< Ant',
    nextText: 'Sig >',
    currentText: 'Hoy',
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
    weekHeader: 'Sm',
    dateFormat: 'dd/mm/yy',
    firstDay: 1,
    isRTL: false,
    showMonthAfterYear: false,
    yearSuffix: ''
  };

  $.datepicker.setDefaults($.datepicker.regional['es']);

  $('.datepicker').datepicker({
    dateFormat: 'yy-mm-dd',
    showOtherMonths: true,
    selectOtherMonths: true,
    changeMonth: true,
    changeYear: true,
    maxDate: 0,
    setDate: 0,
    yearRange: "c-40:c",
  }, $.datepicker.regional[ "es" ]) 