-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
.app_wrapper
  .container_custom
    -# = render 'keppler_frontend/app/cattle/partials/search', farm: farm, search: search
    .float-left
      %h1
        -# = link_to({action: :index}) do
          Lotes estratégicos >
        #{@strategic_lot.name}
        -# .badge.badge-secondary
          %small #{@strategic_lot.function}
    .d-flex.justify-content-end
      -# .toolbar
        .toolbar-item
            %i.icofont-trash
      = link_to({action: :delete_assignment}, {class: 'destroy_multiple float-right mt-4 mb-4', method: :delete}) do
        %button.btn.btn_custom.btn--filled.btn--medium#remove_from_lot{ disabled: true }
          %i.icofont-trash
          Remover de lote
      = link_to({action: action_name.to_sym, format: :pdf}, {class: 'float-right mt-4 mb-4 ml-1', target: '_blank'}) do
        %button.btn.btn_custom.btn--filled.btn--medium
          %i.icofont-clip-board
          Reporte
      -# %a.float-right.mt-4.mb-4.ml-3{ href: new_farm_strategic_lot_path(@farm) }
        %button.btn.btn_custom.btn--filled.btn--medium
          %i.icofont-plus
          Agregar
          
    .row
      .col-sm-8.mb-4
        -# = @assign.inspect
        = simple_form_for [:cattle, @assign], url: assign_cattle_farm_strategic_lot_path(@farm, @strategic_lot), html: { style: 'width: 100%' } do |f|
          .row.mb-4
            .col-sm-8
              %select#strategic_lot_cattle{ name: 'strategic_lot[cattle][]', label: 'Ganado', class: 'form-control input_custom select2-multiple', onchange: "validateCattle()" }
                - @farm.cows.order(:serie_number).each do |cow|
                  %option{ value: cow.id } #{cow.serie_number}
            .col-sm-4
              %button{ type: 'submit', id: 'add-cattle', class: 'btn btn_custom btn--filled btn--medium', disabled: true }
                Agregar
    - if @cows.blank? && @strategic_lot.cows.exists?
      = link_to 'Mostrar todos', farm_cows_path(@farm)
    = render 'keppler_frontend/app/cattle/partials/cattle_table', cows: @cows
:javascript
  $('.select2').select2()
  $('.select2-multiple').select2({
    multiple: true,
    placeholder: 'Agrega una o más series',
    allowClear: true
  })

  $('.select2-selection__choice').remove()
  $('#strategic_lot_cattle').val('')
  $('.select2-search__field').attr('placeholder', 'Agrega una o más series')
  $('.select2-search__field').css({
    'width': 'auto'
  })

  $('#select-search').change(function() {
    $('.select-field').hide()
    var $id = $(this).find('option:selected').val()
    $("#" + $id).show()
  })

  var $ids = #{@cows.pluck(:id)}
  var $final_array = []
  var href = $('.destroy_multiple').attr('href')

  function ids_loop() {
    $ids.forEach(function (id) {
      $('[checklist-model="check"]:checked').each(function( index ) {
        if ($(this).prop('id').includes(id)) {
          if ( !$final_array.includes(id) ) {
            $final_array.push(id)
          }
        }
      });
      $('[checklist-model="check"]:not(:checked)').each(function( index ) {
        if ($(this).prop('id').includes(id)) {
          if ($final_array.includes(id)) {
            $final_array.splice($final_array.indexOf(id), 1);
          }
        }
      });
    });
    $('.destroy_multiple').attr('href', (`${href}&multiple_ids=[${$final_array}]`))
    if ($final_array.length === 0) {
      document.getElementById('remove_from_lot').disabled = true
    } else {
      document.getElementById('remove_from_lot').disabled = false
    }
  }

  $('#checkbox-all').click(function() {
    $('[checklist-model="check"]').prop( "checked", $(this).prop( "checked" ) )
    ids_loop()
  })

  $('[checklist-model="check"]').click(function() {
    ids_loop()
    $('#checkbox-all').prop(
      'checked',
      JSON.stringify($ids) === JSON.stringify($final_array)
    )
  })

  $('#open-status-history').click(function() {
    $('#status-history').css({
      right: '0'
    })
  })
  $('#close-status-history').click(function() {
    $('#status-history').css({
      right: '-300px'
    })
  })

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  function validateCattle() {
    var ar = $('#strategic_lot_cattle')
    document.getElementById('add-cattle').disabled = ($('#strategic_lot_cattle').val() == "")
  }