.container_custom
  .float-left
    = render 'keppler_frontend/app/transferences/partials/search', farm: farm, search: search
  .d-flex.justify-content-end.mb-5
    -# .toolbar
      %a{ href: '' }
        %i.icofont-trash
      %a{ href: '' }
        %i.icofont-refresh
      %a{ href: '' }
        %i.icofont-download
    %a.float-right.mt-4.mb-4{ href: app_farm_transference_new_path(farm) }
      %button.btn.btn_custom.btn--filled.btn--medium
        %i.icofont-plus
        Agregar
  - if transferences.blank? && @farm.transferences.count > 0
    = link_to 'Mostrar todos', app_farm_transferences_path(farm)
  %table
    - if transferences.size.zero?
      %thead
        %tr
          %th.not-records.center
            %center No se han encontrado transferencias
    - else
      %thead
        %tr
          -# %th
            %input#styled-checkbox-all.styled-checkbox{type: "checkbox"}
            %label{for: "styled-checkbox-all"}
          %th Cantidad de series
          %th Desde Finca
          %th Hasta Finca
          %th Fecha
          %th Motivo
          -# %th Controles
      %tbody
        - transferences.each do |transference|
          %tr{ style: "border-bottom: 1px #eee solid;" }
            %td
              = transference&.cow&.serie_number
            %td
              = transference&.from_farm&.title
            %td
              = transference&.to_farm&.title
            %td
              = transference&.created_at.strftime("%d-%m-%Y")
            -# %td.actions
              = link_to app_farm_transference_path(farm, transference), class: 'floating-btn' do
                %span.icofont-eye
              = link_to app_farm_transference_edit_path(farm, transference), class: 'floating-btn' do
                %span.icofont-ui-edit
              = link_to app_farm_transference_destroy_path(farm, transference), class: 'floating-btn' do
                %span.icofont-trash