.content-table
  %table.cow-table
    - if cows.size.zero?
      %thead
        %tr
          %th.not-records.center
            %center No se encontraron ganados
    - else
      %thead
        %tr
          -# %th
            %input#styled-checkbox-all.styled-checkbox{type: "checkbox"}
            %label{for: "styled-checkbox-all"}
          %th
            .toolbar-item
              .item-check
                .checkbox
                  %label{ for: 'checkbox-all' }
                    %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()', name: 'multiple_ids' }
                    %span.cr
                      %i.cr-icon.icofont-check
          %th
            = sort_link(@q, :serie_number) do 
              Serie
          %th
            = sort_link(@q, :short_name) do 
              Nombre
          -# %th Imagen
          %th 
            = sort_link(@q, :race_id) do 
              Raza
          %th Tipología
          %th Peso
          -# %th Estado
          %th Controles
        %tbody#cows
          = render 'keppler_frontend/app/cattle/partials/cattle_item', cows: cows
= paginate cows#, remote: true
#loading
:scss
  .pagination {
    visibility: hidden
  }

:coffee
  $ ->
    if $('.pagination').length && $('#cows').length
      $(window).scroll ->
        next_page = $('a[rel=next]').attr('href')
        if $(window).scrollTop() > $(document).height() - $(window).height() - 5
          $('.next_page').remove()
          $('#loading').html('<center class="loading"><img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." /></center>')
          if next_page
            $.getScript(next_page)
            console.log(next_page)
        
        checkboxes()

      $(window).scroll()