- cows.includes(:race).each do |cow|
  %tr.cow{ style: "border-bottom: 1px #eee solid;" }
    %td
      .checkbox{ style: 'margin: 3px' }
        %label{ for: "checkbox-#{cow&.id}" }
          %input{ type:"checkbox", id: "checkbox-#{cow&.id}", 'checklist-model' => 'check', 'checklist-value' => "#{cow&.id}", '@click' => "listDelete(#{cow&.id})"}
          %span.cr
            %i.cr-icon.icofont-check
    %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow&.id},{title: cow.observations}) do
        = cow&.serie_number
    -# %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow&.id}) do
        = image_tag cow&.image&.url if cow.image.url
    %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow&.id},{title: cow.observations}) do
        = cow&.short_name
        = image_tag "/assets/keppler_cattle/#{cow.gender}", class: 'svg-icon-xs ml-2', style: ('height: 12px' if cow.gender?('male')) unless cow.gender.blank?
    %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow&.id},{title: cow.observations}) do
        = cow&.race&.name
    %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow&.id},{title: cow.observations}) do
        = cow&.typology_name
    %td
      = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow&.id},{title: cow.observations}) do
        = cow&.weight&.weight
        KG
    %td
      .dropdown{ style: 'justify-content: center; cursor:pointer' }
        %a.action-btn.pull-right{:id => "menu-#{cow&.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
          %i.icofont-navigation-menu
        %ul.actions.dropdown-menu.actions-dropdown{ 'aria-labelledby': "menu-#{cow&.id}" }
          %li
            = link_to({ controller: :cattle, action: :show, farm_id: @farm&.id, id: cow&.id}) do
              %i.icofont-eye
              Ver ficha de ganado
          - if cow.farm&.id == @farm&.id
            %li
              -# = link_to([{ controller: :weights, action: :new, farm_id: @farm&.id, id: cow&.id }]) do
              = link_to new_farm_cow_weight_path(@farm, cow) do
                %i.icofont-refresh
                Actualizar peso