.content-table
  %table.cow-table
    - if cows.size.zero?
      %thead
        %tr
          %th.not-records.center
            %center No se encontraron ganados
    - else
      %thead
        %tr
          -# %th
            %input#styled-checkbox-all.styled-checkbox{type: "checkbox"}
            %label{for: "styled-checkbox-all"}
          %th
            .toolbar-item
              .item-check
                .checkbox
                  %label{ for: 'checkbox-all' }
                    %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()', name: 'multiple_ids' }
                    %span.cr
                      %i.cr-icon.icofont-check
          %th
            = sort_link(@q, :serie_number) do 
              Serie
          %th
            = sort_link(@q, :short_name) do 
              Nombre
          -# %th Imagen
          %th 
            = sort_link(@q, :race_id) do 
              Raza
          %th Tipología
          %th Peso
          -# %th Estado
          %th Menu
        %tbody#cows
          = render 'keppler_frontend/app/cattle/partials/cattle_item', cows: cows
= paginate cows unless cows.blank?
#loading
:scss
  .pagination {
    visibility: hidden
  }