.container_custom
  .float-left
    = render 'keppler_frontend/app/cattle/partials/search', farm: farm, search: search
  .d-flex.justify-content-end.mb-5
    -# .toolbar
      %a{ href: '' }
        %i.icofont-trash
      %a{ href: '' }
        %i.icofont-refresh
      %a{ href: '' }
        %i.icofont-download
    %a.float-right.mt-4.mb-4{ href: app_farm_cow_new_path(farm) }
      %button.btn.btn_custom.btn--filled.btn--medium
        %i.icofont-plus
        Agregar
  - if cows.blank? && @farm.cows.count > 0
    = link_to 'Mostrar todos', app_farm_cows_path(farm)
  %table.cow-table
    - if cows.size.zero?
      %thead
        %tr
          %th.not-records.center
            %center No se encontraron ganados
    - else
      %thead
        %tr
          -# %th
            %input#styled-checkbox-all.styled-checkbox{type: "checkbox"}
            %label{for: "styled-checkbox-all"}
          %th Imagen
          %th Número de serie
          %th Peso
          %th Días de nacido
          %th Tipología
          %th Status
          %th Controles
      %tbody
        - cows.each do |cow|
          %tr{ style: "border-bottom: 1px #eee solid;" }
            -# %td.checkboxes
              %input.styled-checkbox{type: "checkbox", id: "styled-checkbox-#{x}"}
              %label{for: "styled-checkbox-#{x}"}
            %td
              = image_tag cow.image.url if cow.image.url
            %td
              = cow.serie_number
            %td
              = cow.status.weight unless cow.status.blank?
              KG
            %td
              = cow.status.days unless cow.status.blank?
              
            %td
              = cow.status.typology unless cow.status.blank?
            %td.status
              = cow.status.created_at.strftime("%d-%m-%Y") unless cow.status.blank?
              .card_status--bar
                - if cow.gender?('male')
                  %a.status-tooltip{ title: 'Recelador' }
                    %i.icofont-bull{ class: ('active' if cow.status.defiant) }
                  %a.status-tooltip{ title: 'Reproductor' }
                    %i.icofont-dna{ class: ('active' if cow.status.reproductive) }
                - else
                  %a.status-tooltip{ title: 'Preñada' }
                    %i.icofont-baby{ class: ('active' if cow.status.pregnant) }
                  %a.status-tooltip{ title: 'Lactando' }
                    %i.icofont-baby-milk-bottle{ class: ('active' if cow.status.lactating)  }
                  %a.status-tooltip{ title: 'Criando' }
                    %i.icofont-holding-hands{ class: ('active' if cow.status.breeding) }
                %a.status-tooltip{ title: 'Dado de baja' }
                  %i.icofont-danger-zone{ class: ('active' if cow.status.dead) }
            %td.actions
              = link_to app_farm_cow_path(farm, cow), class: 'floating-btn' do
                %span.icofont-eye
              = link_to app_farm_cow_edit_path(farm, cow), class: 'floating-btn' do
                %span.icofont-ui-edit
              = link_to app_farm_cow_destroy_path(farm, cow), method: :delete, data: { confirm: t('keppler.messages.data_confirm') }, class: 'floating-btn' do
                %span.icofont-trash