.container_custom
  -# = render 'keppler_frontend/app/cattle/partials/search', farm: farm, search: search
  .d-flex.justify-content-end.content-btn
    -# .toolbar
      .toolbar-item
        -# %a.tool-btn{ 'data-confirm': t('keppler.messages.data_confirm'), 'data-method': 'delete', 'v-bind:href': 'link', rel: 'nofollow', ':class': '{disabled: !checks}' }
        = link_to app_farm_strategic_lot_destroy_multiple_path(@farm), method: :delete, class: 'destroy_multiple' do
          %i.icofont-trash
    - unless cows.size.zero?
      = link_to({action: :index, format: :pdf}, {class: 'float-right mt-4 mb-4 mr-1', target: '_blank'}) do
        %button.btn.btn_custom.btn--filled.btn--medium
          %i.icofont-clip-board
          Reporte
    %a.mt-4.mb-4#open-status-history
      %button.btn.btn_custom.btn--filled.btn--medium
        %i.icofont-clock-time
        Historial
    %a.float-right.mt-4.mb-4.ml-1{ href: app_farm_cow_new_path(farm) }
      %button.btn.btn_custom.btn--filled.btn--medium
        %i.icofont-plus
        Agregar
  - if cows.blank? && @farm.cows.count > 0
    = link_to 'Mostrar todos', app_farm_cows_path(farm)
    
  = render 'keppler_frontend/app/cattle/partials/cattle_table', cows: cows

.card_show.card_status.card_history#status-history
  .float-right
    %a#close-status-history{ href: '#' }
      %i.icofont-ui-close
  .card_status--title
    %h2 Historial
    %ul.timeline
      = 'No hay actividades' if @activities.empty?
      -# = render_activities(@activities, locals: { method: 'serie_number' })
      - @activities.each do |activity|
        = render partial: "keppler_frontend/app/layouts/public_activity/#{activity.key.split('.').second}", locals: { activity: activity, method: 'serie_number' }
