.app_wrapper
  #index-container
    %ul#moduleTabs.nav.nav-tabs.mt-4{role: "tablist"}
      %li.nav-item
        -# %a#mfg-tab.nav-link.active{"aria-controls" => "mfg", "aria-selected" => "true", "data-toggle" => "tab", href: "#mfg", role: "tab"}
        -# %a#mfg-tab.nav-link.active{ href: "#mfg", role: "tab" }
        = link_to({ action: :index }, { class: "nav-link #{'active' if action_name.eql?('index')}" }) do
          Activos (#{@active_cows_size})
      %li.nav-item
        -# %a#ale-tab.nav-link{"aria-controls" => "ale", "aria-selected" => "false", "data-toggle" => "tab", href: "#ale", role: "tab"}
        = link_to({action: :index_inactives}, { class: "nav-link #{'active' if action_name.eql?('index_inactives')}" }) do
          Inactivos (#{@inactive_cows_size})
    -# %hr{ :style => "margin-top: 0;width: 90%; margin-bottom: 20px;"}
    .container_custom
      .card_show
        = render 'keppler_frontend/app/cattle/partials/search', farm: farm, search: search
        .d-flex.justify-content-end.content-btn
          -# .toolbar
            .toolbar-item
              -# %a.tool-btn{ 'data-confirm': '¿Estás seguro?', 'data-method': 'delete', 'v-bind:href': 'link', rel: 'nofollow', ':class': '{disabled: !checks}' }
              = link_to destroy_multiple_farm_strategic_lots_path(@farm), method: :delete, class: 'destroy_multiple' do
                %i.icofont-trash
          - if action_name.eql?('index')
            - if cows.size < @active_cows_size
              .toolbar
                .toolbar-item
                  = link_to 'Mostrar todos', farm_cows_path(farm)
          - else
            - if cows.size < @inactive_cows_size
              .toolbar
                .toolbar-item
                  = link_to 'Mostrar todos', inactives_farm_cows_path(farm)
          .actions.d-none.d-sm-block
            .float-right.mb-4
              -# %a#profileDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                %button.btn.btn_custom.btn--filled.btn--medium
                  %i.icofont-clip-board
                  Transferir a
                  %i.icofont-simple-down
              - unless cows.size.zero?
                -# .d-inline-flex
                  %a#profileDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                    %button.btn.btn_custom.btn--filled.btn--medium
                      %i.icofont-clip-board
                      Transferir a
                      %i.icofont-simple-down
                  .dropdown-menu{"aria-labelledby" => "profileDropdown"}
                    = link_to '#', class: 'multiple_ids mt-2 mb-2 mr-1 dropdown-item', onclick: 'strategic_lots()' do
                      Lote estratégico
                -# = link_to new_weights_farm_cows_path(@farm, []), class: 'multiple_ids' do
                  %button.btn.btn_custom.btn--filled.btn--medium
                    %i.icofont-plus
                    Pesar
                .d-inline-flex
                  = link_to batch_loading_farm_cows_path(@farm.id) do
                    %button.btn.btn_custom.btn--filled.btn--medium
                      %i.icofont-plus
                      Cargar en lote
                -# .d-inline-flex
                  %a#reportDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                    %button.btn.btn_custom.btn--filled.btn--medium#en-lote{ disabled: true }
                      %i.icofont-clip-board
                      En Lote
                      %i.icofont-simple-down
                  .dropdown-menu{"aria-labelledby" => "reportDropdown"}
                    -# = link_to new_services_farm_season_path(@farm.id, @season.id, @strategic_lot.id, []), class: 'multiple_ids disable', disabled: true do
                    = link_to(new_services_farm_cows_path(@farm.id, []), { class: 'multiple_ids mt-2 mb-2 mr-1 dropdown-item' }) do
                      Agregar Servicios
                    = link_to(new_pregnancies_farm_cows_path(@farm.id, []), { class: 'multiple_ids mt-2 mb-2 mr-1 dropdown-item' }) do
                      Agregar Preñeces
                    = link_to(new_births_farm_cows_path(@farm.id, []), { class: 'multiple_ids mt-2 mb-2 mr-1 dropdown-item' }) do
                      Agregar Partos
                    = link_to(new_weights_farm_cows_path(@farm.id, []), { class: 'multiple_ids mt-2 mb-2 mr-1 dropdown-item' }) do
                      Agregar Pesos
                .d-inline-flex
                  %a#reportDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                    %button.btn.btn_custom.btn--filled.btn--medium
                      %i.icofont-clip-board
                      Reporte
                      %i.icofont-simple-down
                  -# .dropdown-menu{"aria-labelledby" => "reportDropdown"}
                    = link_to({action: action_name.to_sym, format: :pdf}, {class: ' mt-2 mb-2 mr-1 dropdown-item'}) do
                      PDF
                    = link_to({action: action_name.to_sym, format: :xls}, {class: ' mt-2 mb-2 mr-1 dropdown-item'}) do
                      XLS
                    = link_to({action: action_name.to_sym, format: :csv}, {class: ' mt-2 mb-2 mr-1 dropdown-item'}) do
                      CSV
                  .dropdown-menu{"aria-labelledby" => "reportDropdown"}
                    = link_to({controller: :seasons, action: :reproduction_cows, format: :pdf}, {class: ' mt-2 mb-2 mr-1 dropdown-item', target: '_blank'}) do
                      Hembras reproductivas
                    = link_to({controller: :seasons, action: :inseminations_report, format: :pdf}, {class: ' mt-2 mb-2 mr-1 dropdown-item', target: '_blank'}) do
                      Reporte de Pajuelas
                    = link_to({controller: :seasons, action: :typologies_report, format: :pdf}, {class: ' mt-2 mb-2 mr-1 dropdown-item', target: '_blank'}) do
                      Reporte de Tipologías
                    - if action_name.eql?('index_inactives')
                      = link_to({controller: :cattle, action: :index_inactives, format: :pdf}, {class: ' mt-2 mb-2 mr-1 dropdown-item', target: '_blank'}) do
                        Series inactivas
                    = link_to({controller: :seasons, action: :analytic_weight_report, format: :pdf}, {class: ' mt-2 mb-2 mr-1 dropdown-item', target: '_blank'}) do
                      Análisis de pesos
                    -# = link_to({controller: :transferences, action: :index, format: :pdf}, {class: ' mt-2 mb-2 mr-1 dropdown-item', target: '_blank'}) do
                    -#   Transferencias
                    - if action_name.eql?('index')
                      = link_to({controller: :cattle, action: :index, format: :pdf}, {class: ' mt-2 mb-2 mr-1 dropdown-item', target: '_blank'}) do
                        Reporte General
              %a.mt-4.mb-4{ href: history_farm_path(@farm) }
                %button.btn.btn_custom.btn--filled.btn--medium
                  %i.icofont-clock-time
                  Historial
              %a.mt-4.mb-4.ml-1{ href: new_farm_cow_path(farm) }
                %button.btn.btn_custom.btn--filled.btn--medium
                  %i.icofont-plus
                  Agregar
          .actions_movil.d-sm-none.mt-4
            .float-right
              %a#profileDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                %button.btn.btn_custom.btn--filled.btn--medium
                  %i.icofont-simple-down
                  Acciones
              .dropdown-menu.profile_dropdown{"aria-labelledby" => "profileDropdown"}
                %a.mt-4.mb-4.ml-1{ href: new_farm_cow_path(farm),class: "dropdown-item" }
                  Agregar
                %a{class: "dropdown-item", href: history_farm_path(@farm) }
                  Historial
                = link_to({action: :index, format: :pdf}, {class: ' mt-2 mb-2 mr-1 dropdown-item', target: '_blank'}) do
                  Reporte
              
      
        = render 'keppler_frontend/app/cattle/partials/cattle_table', cows: cows
        %div.d-flex.justify-content-between
          %button#show_more.btn.btn_custom.btn--filled.btn--medium.text-center{ style: 'margin: 0 auto' }
            %i.icofont-plus
            Mostrar más...
:scss

  .parent_card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    //border: 2px solid #f4f5f6;
    border-radius: 4px;
    padding: 10px;
    
    img {
      max-height: 70px;
      max-width: 200px;
    }
  }
