.modal.modal_status.fade{ id: "modalSons", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{ style: "padding: 20px;"}
        .card_status
          %center.card_status--title   
            %h1{style: "text-transform: uppercase;font-size: 25px;color: #28C76F;position: relative;margin-bottom: 5px;"} Hijos          
          .box-body.no-padding
            .row
              - if @cow.sons.blank?
                %center.col-lg-12
                  Aún no ha tenido crías
              - @cow.sons.each do |son|
                .col-lg-12.son-item
                  = link_to(action: :show, cow_id: son.id) do
                    %dl
                      %dt
                        = image_tag "/assets/keppler_cattle/#{son.gender}", class: 'svg-icon-md' unless son.gender.blank?
                        %span= son.serie_number
                        %small= "(#{@cow.short_name})" unless @cow.short_name.blank?
:scss
  .son-item {
    &:hover {
      background: #fafafa;
    }
  }