-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
.app_wrapper
  #index-container
    %ul#moduleTabs.nav.nav-tabs.mt-4{role: "tablist"}
      %li.nav-item
        -# %a#mfg-tab.nav-link.active{"aria-controls" => "mfg", "aria-selected" => "true", "data-toggle" => "tab", href: "#mfg", role: "tab"}
        = link_to({ action: :index }, { class: "nav-link" }) do
          Inventario (#{@active_inseminations.size})
      %li.nav-item
        -# = link_to({ action: :index_used }, { class: "nav-link" }) do
        -# %a#ale-tab.nav-link{"aria-controls" => "ale", "aria-selected" => "false", "data-toggle" => "tab", href: "#ale", role: "tab"}
        %a#ale-tab.nav-link.active{ href: "#ale", role: "tab" }
          Usadas (#{@inactive_inseminations.size})
      -# %li.nav-item
        %a#transfers-tab.nav-link{"aria-controls" => "transfers", "aria-selected" => "false", "data-toggle" => "tab", href: "#transfers", role: "tab"} Transferencias
    %hr{ :style => "margin-top: 0;width: 90%; margin-bottom: 20px;"}
    -# #moduleContent.tab-content
      #mfg.tab-pane.fade.show.active{ "aria-labelledby" => "mfg-tab", role: "tabpanel" }
    = render 'keppler_frontend/app/inseminations/partials/listing', farm: @farm, inseminations: @inactive_inseminations, search: @q
    -# #ale.tab-pane.fade{ "aria-labelledby" => "ale-tab", role: "tabpanel" }
      = render 'keppler_frontend/app/inseminations/partials/listing', farm: @farm, inseminations: @inactive_inseminations, search: @q
    -# #transfers.tab-pane.fade{ "aria-labelledby" => "transfers-tab", role: "tabpanel" }
      = render 'keppler_frontend/app/inseminations/partials/listing', farm: @farm, inseminations: @inactive_inseminations, search: @q
:scss
  .center {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .not-records {
    background-color: #fff;
    border: 0;
  }

  table img {
    max-height: 50px; 
  }

  .floating-btn {
    border-radius: 20px;
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .3s;

    &:hover {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
      color: #008500;
      transition: .3s;
    }
  }

  .flex-search {
    display: flex;
  }

  #serie_number {
    display: block;
  }

  .select-field {
    display: none;
  }

  .days-alert {
    color: orange;
  }

:javascript
  $('#select-search').change(function() {
    $('.select-field').hide()
    var $id = $(this).find('option:selected').val()
    $("#" + $id).show()
  })

  var $ids = #{@inseminations.pluck(:id)}
  var $final_array = []
  var href = $('.destroy_multiple').attr('href')

  function ids_loop() {
    $ids.forEach(function (id) {
      $('[checklist-model="check"]:checked').each(function( index ) {
        if ($(this).prop('id').includes(id)) {
          if ( !$final_array.includes(id) ) {
            $final_array.push(id)
          }
        }
      });
      $('[checklist-model="check"]:not(:checked)').each(function( index ) {
        if ($(this).prop('id').includes(id)) {
          if ($final_array.includes(id)) {
            $final_array.splice($final_array.indexOf(id), 1);
          }
        }
      });
    });
    $('.destroy_multiple').attr('href', (`${href}&multiple_ids=[${$final_array}]`))
  }

  $('#checkbox-all').click(function() {
    $('[checklist-model="check"]').prop( "checked", $(this).prop( "checked" ) )
    ids_loop()
  })

  $('[checklist-model="check"]').click(function() {
    ids_loop()
    $('#checkbox-all').prop(
      'checked',
      JSON.stringify($ids) === JSON.stringify($final_array)
    )
  })

  $('.destroy_multiple').click(function(e) {
    e.preventDefault()
  })