= render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
.app_wrapper
  .container_carousel
    .single-item
      %a.mt-4.mb-4{ href: farm_inseminations_path(@farm) }
        %button.btn.btn_custom.btn--medium
          %i.icofont-circled-left
          Listado
      .card_new
        .float-left
        %h1 Pajuela (#{@insemination.serie_number})
        = simple_form_for [@farm, @insemination] do |f|
          .form-padding
            .row
              .col-sm-6
                = f.input :used, as: :string, label: 'Fecha de uso', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom datepicker' }
              .col-sm-6
                = f.input :observations, label: 'Observaciones', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }
              .col-sm-12
                .float-right
                  %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                    %i.icofont-save
                    Guardar como usado

:javascript

  $.datepicker.regional['es'] = {
    closeText: 'Cerrar',
    prevText: '< Ant',
    nextText: 'Sig >',
    currentText: 'Hoy',
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
    weekHeader: 'Sm',
    dateFormat: 'dd/mm/yy',
    firstDay: 1,
    isRTL: false,
    showMonthAfterYear: false,
    yearSuffix: ''
  };

  $.datepicker.setDefaults($.datepicker.regional['es']);

  $('.datepicker').datepicker({
    dateFormat: 'yy-mm-dd',
    showOtherMonths: true,
    selectOtherMonths: true,
    changeMonth: true,
    changeYear: true,
    maxDate: 0,
    setDate: 0,
    yearRange: "c-40:c",
  }, $.datepicker.regional[ "es" ])