!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title Pajuela (#{@insemination.serie_number})
    -# = wicked_pdf_stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
    -# = wicked_pdf_stylesheet_link_tag '/assets/keppler_frontend/app/application.css'
  %body
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h2.report-title Pajuela (#{@insemination.serie_number})
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
    .app_wrapper
      .container_custom
        .row
          %table.card_show
            %tbody
              %tr
                %th Número de serie
                %th Madre
                %th Padre
              %tr
                %td= @insemination.serie_number
                %td= @insemination.mother&.serie_number
                %td= @insemination.father&.serie_number
              %tr
                %th Especie
                %th Raza
                %th Fecha de Nacimiento
              %tr
                %td= @insemination.species&.name
                %td= @insemination.race&.name
                %td= @insemination.birthdate
              %tr
                %th Años
                %th Meses
                %th Días de nacido
              %tr
                %td= @insemination.years
                %td= @insemination.months
                %td= @insemination.days
:scss
  body {
    font-size: 12px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  td {
    margin: 0;
    padding: 0;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }