
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js"}
.row
  .col-lg-12
    .card_show
      %h1.text-center Efectividad de los partos
      %canvas#birth-abort-chart{ height: "150", width: "400"}
      // %canvas#buyers{ height: "400", width: "1150"}
          
    %h1.mb-4{style:"text-transform: uppercase"} Veterinarios - Palpaciones Realizadas
    .row
      - @season.statuses.each do |status|
        - veterinario = status.responsable
        - unless veterinario.status_where('Birth', @season.id).size.zero? || veterinario.name.blank?
          .col-lg-6.col-md-6
            .card_show{style:"min-height: 254px;"}
              .container-profile.mt-4
                .profile.d-flex
                  .profile-img.d-none.d-sm-block
                    %img{src:"https://images.pexels.com/photos/433635/pexels-photo-433635.jpeg?cs=srgb&dl=adult-care-cure-433635.jpg&fm=jpg", alt:""}
                  .content-profile.ml-4{style: "width:100%"}
                    %strong.name= veterinario.name
                    .size-cow.d-flex.justify-content-around
                      %div.d-flex.flex-column{style: "width:50%"}
                        %span
                          Preñadas
                        %span
                          #{veterinario.status_where('Birth', @season.id).size}
                      %div.d-flex.flex-column{style: "width:31%"}
                        %span
                          Vacías
                        %span
                          #{veterinario.inefectivities.size}
                      %div.d-flex.flex-column{style: "width:33%"}
                        %span
                          Efectividad
                        %span
                          #{(((veterinario.status_where('Birth', @season.id).size.to_f) / (veterinario.status_where('Birth', @season.id).size.to_f + veterinario.inefectivities.size.to_f)) * 100).round(2)}%
              %canvas{ id: "veterinario-#{veterinario.id}-chart", height: "95", width: "250"}
:scss
  .profile-img {
    img{
      width:70px;
      height:70px; 
      border-radius: 50%;
      object-fit: cover;
    }  
  }
  .content-profile {
    .name {
      font-size: 17px
    }
    .size-cow{
      font-size: 15px;
    }
  }
:javascript
  // Efectividad
  var bar_ctx = document.getElementById('birth-abort-chart').getContext('2d');
  var green_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
  green_gradient.addColorStop(0, ' #4AC29A');
  green_gradient.addColorStop(1, '#3CD3AD');

  var orange_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
  orange_gradient.addColorStop(0, '#f28d23');
  orange_gradient.addColorStop(1, '#f83600');

  var gray_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
  gray_gradient.addColorStop(0, '#eef2f3');
  // gray_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
  gray_gradient.addColorStop(1, '#8e9eab');

  var line_chart = new Chart(bar_ctx, {
      type: 'pie',
      data: {
          labels: ["Partos", "Abortos", "Sin preñar"],
          datasets: [{
              label: 'Vacas en celo',
              data: [
                #{@season&.cows.select { |x| x.status&.status_type == 'Birth' && x.status.farm_id.eql?(@farm.id) && x.status.successfully }.size },
                #{@season&.cows.select { |x| x.status&.status_type == 'Birth' && x.status.farm_id.eql?(@farm.id) && !x.status.successfully }.size },
                #{@season&.cows.reject { |x| x.status&.status_type == 'Birth' && x.status.farm_id.eql?(@farm.id) }.size}
              ],
              backgroundColor: [
                green_gradient,
                orange_gradient,
                gray_gradient
              ],
              hoverBackgroundColor: [
                green_gradient,
                orange_gradient,
                gray_gradient
              ],
              hoverBorderWidth: 2
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });

- @season.responsables.each do |veterinario|
  - unless veterinario.status_where('Birth', @season.id).size.zero? || veterinario.name.blank?
    :javascript
      // veterinario
      var veterinario_ctx = document.getElementById('veterinario-#{veterinario.id}-chart').getContext('2d');
      var green_gradient = veterinario_ctx.createLinearGradient(0, 0, 0, 450);
      green_gradient.addColorStop(0, ' #4AC29A');
      green_gradient.addColorStop(1, '#3CD3AD');

      var gray_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
      gray_gradient.addColorStop(0, '#eef2f3');
      // gray_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
      gray_gradient.addColorStop(1, '#8e9eab');

      var veterinario_chart = new Chart(veterinario_ctx, {
          type: 'pie',
          data: {
              labels: ["Acertados", "Errados"],
              datasets: [{
                  data: [#{veterinario.status_where('Birth', @season.id).size}, #{veterinario.inefectivities.size}],
                  backgroundColor:[ 
                    green_gradient,
                    gray_gradient,
                  ],
                  hoverBackgroundColor: [
                    green_gradient,
                    gray_gradient,
                  ],
                  hoverBorderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });