.modal.modal_status.fade{ id: "modal", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document", style: "max-width: 800px;"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{ style: "padding: 20px;"}
        .container_custom
          .row
            .col-lg-12        
              %h1 Elegir Padrotes
              = simple_form_for [@farm, @season, @season_cow], url: assign_bulls_farm_season_path(@farm, @season) do |f|
                = f.input :season_id, as: :hidden, input_html: { value: @season.id }
                = f.input :_id, as: :hidden, input_html: { value: @season.id }
                .form-padding
                  .row
                    -# = f.input :cow_id, input_html: { value: @farm&.id, class: 'form-control input_custom' }, as: :hidden
                    .col-sm-6.col-md-10
                      -# = f.input :cattle, collection: @cows, label: 'Ganado', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom select2-multiple' }
                      -# %label.control-label.select.optional.label_custom--strong Series
                      %select.form-control.select.optional.form-control.input_custom.select2-multiple.select2-hidden-accessible#season_cow_bulls{ name: 'season_cow[bulls][]' }
                        -# - @farm.cows.includes(:season_cows, :locations).where.not(keppler_reproduction_season_cows: { id: @season.id }).each do |cow|
                        - @farm.cows.reproductive_males(@season).each do |cow|
                          %option{ value: cow.id } #{cow&.serie_number} #{'(' + cow&.short_name + ')' if cow&.short_name}
                    .col-sm-6.col-md-2
                      .d-flex.justify-content-end
                        %button{ type: 'submit', id: 'add-cattle', class: 'btn btn_custom btn--filled btn--medium', disabled: true }
                          Agregar
              -# = simple_form_for [:cattle, @assign], url: assign_cattle_farm_strategic_lot_path(@farm, @strategic_lot), html: { style: 'width: 100%' } do |f|
                .row.mt-4
                  .col-sm-10
                    %select#strategic_lot_cattle{ name: 'strategic_lot[cattle][]', label: 'Ganado', class: 'form-control input_custom select2-multiple', onchange: "validateCattle()" }
                      - @farm.cows.where(gender: 'male').order(:serie_number).each do |cow|
                        %option{ value: cow.id } #{cow.serie_number}
                  .col-sm-2
                    .float-right
                      %button{ type: 'submit', id: 'add-cattle', class: 'btn btn_custom btn--filled btn--medium' }
                        Agregar
                -# %select#season_cow_strategic_lot.form-control.select.required.form-control.input_custom{"aria-hidden" => "true", name: "season_cow[strategic_lot]", tabindex: "-1" }
                -#   %option 1
                -# .float-right.mt-3
                -#   %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                -#     %i.icofont-save
                -#     Agregar
            .col-lg-12.mt-4
              %h1.mt-4.mb-4 Grupo de ganado
              .d-flex.justify-content-end.mb-4
                %button.btn.btn_custom.btn--filled.btn--medium#remove_from_lot{ disabled: true }
                  %i.icofont-trash
                  Remover ganado
              = render 'season_bulls_table', cows: @cows.total_season_cows(@strategic_lot).where(gender: 'male')
            -# .col-lg-12
              .float-left
                %h1 Crear un lote
              .form-padding
                = simple_form_for [@farm, @strategic_lot] do |f|
                  .form-padding
                    .row
                      .col-sm-12.col-md-6
                        = f.input :name, as: :string, label: 'Nombre', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }
                      .col-sm-12.col-md-6
                        = f.input :function, as: :string, label: 'Función', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }
                      .col-sm-12
                        = f.input :description, label: 'Descripción', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }
                      .col-sm-12
                        = f.input :farm_id, input_html: { value: @farm&.id }, as: :hidden #, collection: @farms
                      .col-sm-4
                        .row
                          .col-sm-6
                            .checkbox{ style: 'margin: 3px; display: flex; align-items: center;' }
                              %label{ for: "checkbox" }
                                %input{ type:"checkbox", id: "checkbox", 'checklist-model' => 'check', 'checklist-value' => "", '@click' => ""}
                                %span.cr
                                  %i.cr-icon.icofont-check
                              %label.ml-2 Pajuela
                          .col-sm-6
                            .checkbox{ style: 'margin: 3px; display: flex; align-items: center;' }
                              %label{ for: "checkbox1" }
                                %input{ type:"checkbox", id: "checkbox1", 'checklist-model' => 'check', 'checklist-value' => "", '@click' => ""}
                                %span.cr
                                  %i.cr-icon.icofont-check
                              %label.ml-2 Monta
                      .col-sm-8
                        .float-right
                          %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                            %i.icofont-save
                            Crear

:javascript
  $('.select2').select2()
  $('.select2-multiple').select2({
    multiple: true,
    placeholder: 'Agrega una o más series',
    allowClear: true
  })

  $('.select2-selection__choice').remove()
  $('#season_cow_bulls').val('')
  $('.select2-search__field').attr('placeholder', 'Agrega una o más series')
  $('.select2-search__field').css({
    'width': 'auto'
  })

  $('#select-search').change(function() {
    $('.select-field').hide()
    var $id = $(this).find('option:selected').val()
    $("#" + $id).show()
  })

  var $bull_ids = #{@cows.pluck(:id)}
  var $final_array = []
  var href = $('.destroy_multiple').attr('href')

  function ids_loop() {
    $bull_ids.forEach(function (id) {
      $('[checklist-model="check"]:checked').each(function( index ) {
        if ($(this).prop('id').includes(id)) {
          if ( !$final_array.includes(id) ) {
            $final_array.push(id)
          }
        }
      });
      $('[checklist-model="check"]:not(:checked)').each(function( index ) {
        if ($(this).prop('id').includes(id)) {
          if ($final_array.includes(id)) {
            $final_array.splice($final_array.indexOf(id), 1);
          }
        }
      });
    });
    $('.destroy_multiple').attr('href', (`${href}&multiple_ids=[${$final_array}]`))
    if ($final_array.length === 0) {
      document.getElementById('remove_from_lot').disabled = true
    } else {
      document.getElementById('remove_from_lot').disabled = false
    }
  }

  $('#checkbox-all').click(function() {
    $('[checklist-model="check"]').prop( "checked", $(this).prop( "checked" ) )
    ids_loop()
  })

  $('[checklist-model="check"]').click(function() {
    ids_loop()
    $('#checkbox-all').prop(
      'checked',
      JSON.stringify($bull_ids) === JSON.stringify($final_array)
    )
  })

  $('#open-status-history').click(function() {
    $('#status-history').css({
      right: '0'
    })
  })
  $('#close-status-history').click(function() {
    $('#status-history').css({
      right: '-300px'
    })
  })

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  function validateBulls(select) {
    document.getElementById('add-cattle').disabled = (select.val() == "")
  }
  
  $('#season_cow_bulls').change(function() {
    validateBulls($(this))
  })