%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js"}
.row
 .col-lg-12
   .card_show
     %h1.text-center Efectividad de pre単ez
     %canvas#pregnants-chart{ height: "150", width: "400"}
 
   - if @season.users.select { |inseminador| inseminador.status_where('Service', @season.id).exists? && !inseminador.name.blank? }
     %h1.mb-4{style:"text-transform: uppercase"} Inseminadores - Pajuelas Aplicadas
     .row
       - @season.users.each do |inseminador|
         - if inseminador.status_where('Service', @season.id).exists? && !inseminador.name.blank?
           .col-lg-6.col-md-6
             .card_show{style:"min-height: 254px;"}
               .container-profile.mt-4
                 .profile.d-flex
                   .profile-img.d-none.d-sm-block
                     %img{src:"https://images.pexels.com/photos/433635/pexels-photo-433635.jpeg?cs=srgb&dl=adult-care-cure-433635.jpg&fm=jpg", alt:""}
                   .content-profile.ml-4{style: "width:100%"}
                     %strong.name= inseminador.name
                     .size-cow.d-flex.justify-content-around
                       %div.d-flex.flex-column{style: "width:50%"}
                         %span
                           Pre単adas
                         %span
                           #{inseminador.status_where('Pregnancy', @season.id).size}
                       %div.d-flex.flex-column{style: "width:31%"}
                         %span
                           Vacias
                         %span
                           #{inseminador.inefectivities.size}
                       %div.d-flex.flex-column{style: "width:33%"}
                         %span
                           Efectividad
                         %span
                           #{(((inseminador.status_where('Pregnancy', @season.id).size.to_f) / (inseminador.status_where('Pregnancy', @season.id).size.to_f + inseminador.inefectivities.size.to_f)) * 100).round(2)}%
               %canvas{ id: "inseminador-#{inseminador.id}-chart", height: "95", width: "250"}
 
 
:scss
 .profile-img {
   img{
     width:70px;
     height:70px;
     border-radius: 50%;
     object-fit: cover;
   } 
 }
 .content-profile {
   .name {
     font-size: 17px
   }
   .size-cow{
     font-size: 15px;
   }
 }
:javascript
 // Efectividad
 var bar_ctx = document.getElementById('pregnants-chart').getContext('2d');
 var green_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
 green_gradient.addColorStop(0, ' #4AC29A');
 green_gradient.addColorStop(1, '#3CD3AD');
 
 var orange_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
 orange_gradient.addColorStop(0, '#f28d23');
 orange_gradient.addColorStop(1, '#f83600');
 
 var gray_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
 gray_gradient.addColorStop(0, '#c1c2c3');
 // gray_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
 gray_gradient.addColorStop(1, '#8e9eab');
 
 var line_chart = new Chart(bar_ctx, {
     type: 'pie',
     data: {
         labels: ["Pre単adas", "Sin pre単ar"],
         datasets: [{
             label: 'Vacas en celo',
             data: [
               #{@season&.cows.select { |x| x.status&.status_type == 'Pregnancy' && x.status.farm_id.eql?(@farm.id) }.size},
               #{@season&.cows.reject { |x| x.status&.status_type == 'Pregnancy' && x.status.farm_id.eql?(@farm.id) }.size}
             ],
             backgroundColor: [
               green_gradient,
               gray_gradient
             ],
             hoverBackgroundColor: [
               green_gradient,
               gray_gradient
             ],
             hoverBorderWidth: 2
         }]
     },
     options: {
         scales: {
             yAxes: [{
                 ticks: {
                     beginAtZero:true
                 }
             }]
         }
     }
 });
 
- @season.users.each do |inseminador|
 - unless inseminador.status_where('Pregnancy', @season.id).size.zero? || inseminador.name.blank?
   :javascript
     // inseminador
     var inseminador_ctx = document.getElementById('inseminador-#{inseminador.id}-chart').getContext('2d');
     var green_gradient = inseminador_ctx.createLinearGradient(0, 0, 0, 450);
     green_gradient.addColorStop(0, ' #4AC29A');
     green_gradient.addColorStop(1, '#3CD3AD');
 
     var gray_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
     gray_gradient.addColorStop(0, '#eef2f3');
     // gray_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
     gray_gradient.addColorStop(1, '#8e9eab');
 
     var inseminador_chart = new Chart(inseminador_ctx, {
         type: 'pie',
         data: {
             labels: ["Acertados", "Errados"],
             datasets: [{
                 data: [#{inseminador.status_where('Pregnancy', @season.id).size}, #{inseminador.inefectivities.size}],
                 backgroundColor:[
                   green_gradient,
                   gray_gradient,
                 ],
                 hoverBackgroundColor: [
                   green_gradient,
                   gray_gradient,
                 ],
                 hoverBorderWidth: 2
             }]
         },
         options: {
             scales: {
                 yAxes: [{
                     ticks: {
                         beginAtZero:true
                     }
                 }]
             }
         }
     });
