.content-table
  %table.cow-table
    - if cows.size.zero?
      %thead
        %tr
          %th.not-records.center
            %center No se encontraron ganados
    - else
      %thead
        %tr
          -# %th
            %input#styled-checkbox-all.styled-checkbox{type: "checkbox"}
            %label{for: "styled-checkbox-all"}
          %th
            .toolbar-item
              .item-check
                .checkbox
                  %label{ for: 'checkbox-all' }
                    %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()', name: 'multiple_ids' }
                    %span.cr
                      %i.cr-icon.icofont-check
          %th
            = sort_link(@q, :serie_number) do 
              Serie
          -# %th
            = sort_link(@q, :short_name) do 
              Nombre
          -# %th Imagen
          %th 
            = sort_link(@q, :race_id) do 
              Raza
          %th Tipología
          -# %th Peso
          -# %th Estado
          %th Menu
        %tbody#cows
          - cows.each do |cow|
            %tr.cow{ style: "border-bottom: 1px #eee solid;" }
              %td
                .checkbox{ style: 'margin: 3px' }
                  %label{ for: "checkbox-#{cow.id}" }
                    %input{ type:"checkbox", id: "checkbox-#{cow.id}", 'checklist-model' => 'check', 'checklist-value' => "#{cow.id}", '@click' => "listDelete(#{cow.id})"}
                    %span.cr
                      %i.cr-icon.icofont-check
              %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id},{title: cow.observations}) do
                  = cow&.serie_number
              -# %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id}) do
                  = image_tag cow&.image&.url if cow.image.url
              -# %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id},{title: cow.observations}) do
                  = cow&.short_name
                  = image_tag "/assets/keppler_cattle/#{cow.gender}", class: 'svg-icon-xs ml-2', style: ('height: 12px' if cow.gender?('male')) unless cow.gender.blank?
              %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id},{title: cow.observations}) do
                  = cow&.race&.name
              %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id},{title: cow.observations}) do
                  = cow&.typology_name
              -# %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id},{title: cow.observations}) do
                  = cow&.weight&.weight
                  KG
              -# %td.status
                .card_status--bar{ style: 'display:flex' }
                  - if cow&.gender?('male')
                    %a.status-tooltip{ title: 'Recelador' }
                      %i.icofont-bull{ class: ('active' if cow&.male&.defiant) }
                    %a.status-tooltip{ title: 'Reproductor' }
                      %i.icofont-dna{ class: ('active' if cow&.male&.reproductive) }
                  - else
                    %a.status-tooltip{ title: 'Preñada' }
                      %i.icofont-baby{ class: ('active' if cow&.status&.pregnant) }
                    %a.status-tooltip{ title: 'Lactando' }
                      %i.icofont-baby-milk-bottle{ class: ('active' if cow&.status&.lactating)  }
                    %a.status-tooltip{ title: 'Criando' }
                      %i.icofont-holding-hands{ class: ('active' if cow&.status&.breeding) }
                  -# %a.status-tooltip{ title: 'Dado de baja' }
                    %i.icofont-danger-zone{ class: ('active' if cow&.status&.dead) }
              -# %td.actions
                = link_to farm_cows_path(farm, cow), class: 'floating-btn' do
                  %span.icofont-eye
                = link_to new_farm_cow_weight_path(farm, cow), class: 'floating-btn' do
                  %span.icofont-ui-add
              %td
                .dropdown{ style: 'justify-content: center; cursor:pointer' }
                  %a.action-btn.pull-right{:id => "menu-#{cow.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
                    %i.icofont-navigation-menu
                  %ul.actions.dropdown-menu{ 'aria-labelledby': "menu-#{cow.id}" }
                    %li
                      = link_to({ controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id}) do
                        %i.icofont-eye
                        Ver ficha de ganado
                    - if cow.farm&.id == @farm&.id
                      %li
                        -# = link_to([{ controller: :weights, action: :new, farm_id: @farm&.id, id: cow.id }]) do
                        = link_to new_farm_cow_weight_path(@farm, cow) do
                          %i.icofont-refresh
                          Actualizar peso