%a#reportDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
  %button.btn.btn_custom.btn--filled.btn--medium.m-1
    %i.icofont-clip-board
    Reportes
    %i.icofont-simple-down
.dropdown-menu{"aria-labelledby" => "reportDropdown"}
  - case @season.phase.to_i
  - when 0
    = link_to({action: :zeals_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Hembras en celo
    = link_to({action: :services_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Hembras inseminadas
    = link_to({action: :reproduction_cows, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Hembras reproductivas
    = link_to({action: :pregnants_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Hembras preñadas
    = link_to({action: :next_births_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Próx. Partos
    = link_to({action: :abort_cows_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Hembras con abortos
    = link_to({action: :bulls_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Toros padrotes
  - when 1
    = link_to farm_season_path(@farm, @season, format: :pdf), {class: ' py-3 mr-1 dropdown-item', target: '_blank'} do
      Efectividad de la temporada
    = link_to({action: :next_palpation_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Próx. Palpaciones
    = link_to({action: :pregnants_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Hembras preñadas
    = link_to({action: :efectivity_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Efectividad de servicios
    = link_to({action: :vet_efectivity_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Efectividad de veterinarios
    = link_to({action: :services_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Hembras inseminadas
    = link_to({action: :next_births_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Próx. Partos
    = link_to({action: :abort_cows_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Hembras con abortos
    = link_to({action: :bulls_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Toros padrotes
  - when 2, 3
    = link_to({action: :efectivity_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Efectividad de servicios
    = link_to({action: :births_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Partos registrados
    = link_to({action: :twins_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Series con parto morocho
    = link_to({action: :belly_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Reporte de vientre
    = link_to({action: :weans_report, format: :pdf}, {class: ' py-3 mr-1 dropdown-item', target: '_blank'}) do
      Reporte de destete
    = link_to({action: :bulls_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Toros padrotes