.content-table
  %table.cow-table
    - if bulls.size.zero?
      %thead
        %tr
          %th.not-records.center
            %center No se encontraron ganados
    - else
      %thead
        %tr
          -# %th
            %input#styled-checkbox-all.styled-checkbox{type: "checkbox"}
            %label{for: "styled-checkbox-all"}
          %th
            .toolbar-item
              .item-check
                .checkbox
                  %label{ for: 'checkbox-all' }
                    %input{ type: 'checkbox', id: 'checkbox-all-bulls' }
                    %span.cr
                      %i.cr-icon.icofont-check
          %th
            = sort_link(@q, :serie_number) do 
              Serie
          %th
            = sort_link(@q, :short_name) do 
              Nombre
          -# %th Imagen
          %th 
            = sort_link(@q, :race_id) do 
              Raza
          %th Tipología
          -# %th Peso
          -# %th Estado
          -# %th Menu
        %tbody#bulls
          - bulls.each do |cow|
            %tr.cow{ style: "border-bottom: 1px #eee solid;" }
              %td
                .checkbox{ style: 'margin: 3px' }
                  %label{ for: "checkbox-#{cow.id}" }
                    %input{ type:"checkbox", id: "checkbox-#{cow.id}", 'checklist-model-bull' => 'check', 'checklist-value' => "#{cow.id}", '@click' => "listDelete(#{cow.id})"}
                    %span.cr
                      %i.cr-icon.icofont-check
              %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id},{title: cow.observations}) do
                  = cow&.serie_number
              -# %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id}) do
                  = image_tag cow&.image&.url if cow.image.url
              %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id},{title: cow.observations}) do
                  = cow&.short_name
                  = image_tag "/assets/keppler_cattle/#{cow.gender}", class: 'svg-icon-xs ml-2', style: ('height: 12px' if cow.gender?('male')) unless cow.gender.blank?
              %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id},{title: cow.observations}) do
                  = cow&.race&.name
              %td
                = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: cow.id},{title: cow.observations}) do
                  = cow&.typology_name