%a#reportDropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
  %button.btn.btn_custom.btn--filled.btn--medium
    %i.icofont-clip-board
    Reportes
    %i.icofont-simple-down
.dropdown-menu{"aria-labelledby" => "reportDropdown"}
  - case @season.phase.to_i
  - when 0
    = link_to({action: :zeals_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Hembras en celo
    = link_to({action: :services_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Hembras inseminadas
    = link_to({action: :reproduction_cows, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Hembras reproductivas
  - when 1
    = link_to farm_season_path(@farm, @season, format: :pdf), {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'} do
      Efectividad de la temporada
    = link_to({action: :next_palpation_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Pr칩x. Palpaciones
    = link_to({action: :pregnants_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Hembras pre침adas
    = link_to({action: :efectivity_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Efectividad de servicios
  - when 2
    = link_to({action: :next_palpation_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Pr칩x. Palpaciones
    = link_to({action: :pregnants_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Hembras pre침adas
    = link_to({action: :efectivity_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Efectividad de servicios
    = link_to({action: :births_report, format: :pdf}, {class: ' mt-4 mb-4 mr-1 dropdown-item', target: '_blank'}) do
      Partos registrados