!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title 
    // %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js"}
  %body
    .app_wrapper
      .container_custom
        -# .d-flex.justify-content-between
          .float-left.mb-4{ style: 'width: 80%' }
            %h1
              #{@season.name}
              %label.badge (#{@season.type_name})
          .right.mt-4.mb-4
            %button.btn.btn_custom.btn--filled.btn--medium
              %i.icofont-clip-board
              Reporte
        .row
          .col-lg-12
            .card_show
              %h1.text-center Efectividad de la temporada
              %canvas#line-chart{ height: "150", width: "400"}
              // %canvas#buyers{ height: "400", width: "1150"}
          .col-lg-12
            %h1.mb-4{style:"text-transform: uppercase"} Procesos
            .row
              .col-lg-4
                .card_show
                  .text-center
                    %h3{style: "font-weight: 600;"} Celos
                    %h4 Cantidad de vacas
                  %canvas#celo-chart{ height: "150", width: "250"}
              .col-lg-4
                .card_show
                  .text-center
                    %h3{style: "font-weight: 600;"} Servicios
                    %h4 Cantidad vacas
                  %canvas#services-chart{ height: "150", width: "250"}
              .col-lg-4
                .card_show
                  .text-center
                    %h3{style: "font-weight: 600;"} Preñadas
                    %h4 Cantidad vacas
                  %canvas#pregnancy-chart{ height: "150", width: "250"}
              // .col-lg-3
              //   .card_show
              //     .text-center
              //       %h3{style: "font-weight: 600;"} Parto
              //       %h4 Cantidad vacas
              //     %canvas#parto-chart{ height: "150", width: "250"}
              // .col-lg-4
              //   .card_show
              //     .text-center
              //       %h3{style: "font-weight: 600;"} Abortos
              //       %h4 Cantidad vacas
              //     %canvas#aborto-chart{ height: "150", width: "250"}
              .col-lg-4
                .card_show{style:"min-height: 254px;"}
                  .container-profile.mt-4
                    .text-center
                      %h3.mb-4{style: "font-weight: 600;"} Veterinario
                    .profile.d-flex
                      .profile-img
                        %img{style: "width:70px;height:70px; border-radius: 50%;object-fit: cover;",src:"https://images.pexels.com/photos/433635/pexels-photo-433635.jpeg?cs=srgb&dl=adult-care-cure-433635.jpg&fm=jpg", alt:""}
                      .content-profile.ml-4{style: "width:100%"}
                        %strong Jon Snow
                        .count-cow.d-flex.justify-content-around
                          %div.d-flex.flex-column{style: "width:50%%"}
                            %span
                              Preñadas
                            %span
                              20
                          %div.d-flex.flex-column{style: "width:31%"}
                            %span
                              Vacias
                            %span
                              10
                          // %div.d-flex.flex-column{style: "width:33%"}
                          //   %span
                          //     Efectividad
                          //   %span
                          //     90%
                  %canvas#doctor-chart{ height: "95", width: "250"}
              .col-lg-4
                .card_show{style:"min-height: 254px;"}
                  .container-profile.mt-4
                    .text-center
                      %h3.mb-4{style: "font-weight: 600;"} Inseminador 
                    .profile.d-flex
                      .profile-img
                        %img{style: "width:70px;height:70px; border-radius: 50%;object-fit: cover;",src:"https://images.pexels.com/photos/433635/pexels-photo-433635.jpeg?cs=srgb&dl=adult-care-cure-433635.jpg&fm=jpg", alt:""}
                      .content-profile.ml-4{style: "width:100%"}
                        %strong Jon Snow
                        .count-cow.d-flex.justify-content-center
                          %div.d-flex.flex-column{style: "width:50%"}
                            %span
                              Inseminadas
                            %span
                              20
                          %div.d-flex.flex-column{style: "width:50%"}
                            %span
                              Vacias
                            %span
                              10
                          // %div.d-flex.flex-column{style: "width:33%"}
                          //   %span
                          //     Efectividad
                          //   %span
                          //     90%
                  %canvas#inseminations-chart{ height: "95", width: "250"}



    :javascript
      // Chart.defaults.global.elements.rectangle.backgroundColor = '#FF0000';


      // Efectividad
      var bar_ctx = document.getElementById('line-chart').getContext('2d');
      var one_two_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
      one_two_gradient.addColorStop(0, ' #4AC29A');
      one_two_gradient.addColorStop(1, '#3CD3AD');
      // one_two_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
      // one_two_gradient.addColorStop(1, '#BDFFF3');

      var three_four_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
      three_four_gradient.addColorStop(0, '#e0e6e9');
      // three_four_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
      three_four_gradient.addColorStop(1, '#e0e6e9');

      var five_six_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
      five_six_gradient.addColorStop(0, '#f28d23');
      // five_six_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
      five_six_gradient.addColorStop(1, '#f83600');
    
      var line_chart = new Chart(bar_ctx, {
          type: 'pie',
          data: {
              labels: ["Sin preñar", "Partos", "Abortos"],
              datasets: [{
                  label: 'Vacas en celo',
                  data: [
                    #{@season.cows.reject { |x| x.status&.status_type == 'Birth' }.count},
                    #{@season.cows.select { |x| x.status&.status_type == 'Birth' }.count},
                    #{@season.cows.select { |x| x.status&.status_type == 'Birth' }.count }
                  ],
                  backgroundColor: [
                    one_two_gradient,
                    three_four_gradient,
                  ],
                  hoverBackgroundColor: [
                    one_two_gradient,
                    three_four_gradient,
                  ],
                  hoverBorderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });


      // celos
      var celos_ctx = document.getElementById('celo-chart').getContext('2d');
      var one_two_gradient = celos_ctx.createLinearGradient(0, 0, 0, 450);
      one_two_gradient.addColorStop(0, ' #4AC29A');
      one_two_gradient.addColorStop(1, '#3CD3AD');
      // one_two_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');

      var celo_chart = new Chart(celos_ctx, {
          type: 'line',
          data: {
              labelString: '20',
              labels: ["Enero", "Febrero", "Marzo", "Abril"],
              datasets: [{
                  data: [12, 5, 13, 18, 24, 5],
                  backgroundColor: one_two_gradient,
                  hoverBackgroundColor: one_two_gradient,
                  hoverBorderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });

      // Servicio
      var service_ctx = document.getElementById('services-chart').getContext('2d');
      var one_two_gradient = service_ctx.createLinearGradient(0, 0, 0, 450);
      one_two_gradient.addColorStop(0, ' #4AC29A');
      one_two_gradient.addColorStop(1, '#3CD3AD');

      var service_chart = new Chart(service_ctx, {
          type: 'line',
          data: {
              labels: ["Enero", "Febrero", "Marzo", "Abril"],
              datasets: [{
                  data: [12, 19, 3, 8, 14, 5],
                  backgroundColor: one_two_gradient,
                  hoverBackgroundColor: [
                    one_two_gradient,
                    three_four_gradient,
                  ],
                  hoverBorderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });


      // Preñez
      var pregnancy_ctx = document.getElementById('pregnancy-chart').getContext('2d');
      var one_two_gradient = pregnancy_ctx.createLinearGradient(0, 0, 0, 450);
      one_two_gradient.addColorStop(0, ' #4AC29A');
      one_two_gradient.addColorStop(1, '#3CD3AD');
      var three_four_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
      three_four_gradient.addColorStop(0, '#f28d23');
      // three_four_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
      three_four_gradient.addColorStop(1, '#f83600');

      var five_gradient = pregnancy_ctx.createLinearGradient(0, 0, 0, 450);
      five_gradient.addColorStop(0, '#eef2f3');
      five_gradient.addColorStop(1, '#8e9eab');
      var pregnancy_chart = new Chart(pregnancy_ctx, {
          type: 'pie',
          data: {
              labels: ["Preñadas", "Partos", "Abortos"],
              datasets: [{
                  data: [12, 9, 3],
                  backgroundColor:[ 
                    one_two_gradient,
                    three_four_gradient,
                    five_gradient,
                  ],
                  hoverBackgroundColor: [
                    one_two_gradient,
                    three_four_gradient,
                    five_gradient,
                  ],
                  hoverBorderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });

       // Doctor
      var doctor_ctx = document.getElementById('doctor-chart').getContext('2d');
      var one_two_gradient = doctor_ctx.createLinearGradient(0, 0, 0, 450);
      one_two_gradient.addColorStop(0, ' #4AC29A');
      one_two_gradient.addColorStop(1, '#3CD3AD');
      var three_four_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
      three_four_gradient.addColorStop(0, '#f28d23');
      // three_four_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
      three_four_gradient.addColorStop(1, '#f83600');

      var doctor_chart = new Chart(doctor_ctx, {
          type: 'pie',
          data: {
              labels: ["Efectividad", "No se"],
              datasets: [{
                  data: [15, 5],
                  backgroundColor:[ 
                    one_two_gradient,
                    three_four_gradient,
                  ],
                  hoverBackgroundColor: [
                    one_two_gradient,
                    three_four_gradient,
                  ],
                  hoverBorderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });


      // Inseminación
      var inseminations_ctx = document.getElementById('inseminations-chart').getContext('2d');
      var one_two_gradient = inseminations_ctx.createLinearGradient(0, 0, 0, 450);
      one_two_gradient.addColorStop(0, ' #4AC29A');
      one_two_gradient.addColorStop(1, '#3CD3AD');
      var three_four_gradient = bar_ctx.createLinearGradient(0, 0, 0, 800);
      three_four_gradient.addColorStop(0, '#f28d23');
      // three_four_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');
      three_four_gradient.addColorStop(1, '#f83600');

      var inseminations_chart = new Chart(inseminations_ctx, {
          type: 'pie',
          data: {
              labels: ["Efectividad", "No se"],
              datasets: [{
                  data: [12, 19],
                  backgroundColor:[ 
                    one_two_gradient,
                    three_four_gradient,
                  ],
                  hoverBackgroundColor: [
                    one_two_gradient,
                    three_four_gradient,
                  ],
                  hoverBorderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });

      // Parto
    //   var parto_ctx = document.getElementById('parto-chart').getContext('2d');
    //   var one_two_gradient = parto_ctx.createLinearGradient(0, 0, 0, 450);
    //   one_two_gradient.addColorStop(0, '#28C76F');
    //   one_two_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');

    //   var parto_chart = new Chart(parto_ctx, {
    //       type: 'line',
    //       data: {
    //           labels: ["Enero", "Febrero", "Marzo", "Abril"],
    //           datasets: [{
    //               data: [15, 20, 38, 18, 38, 5],
    //               backgroundColor: one_two_gradient,
    //               hoverBackgroundColor: one_two_gradient,
    //               hoverBorderWidth: 2
    //           }]
    //       },
    //       options: {
    //           scales: {
    //               yAxes: [{
    //                   ticks: {
    //                       beginAtZero:true
    //                   }
    //               }]
    //           }
    //       }
    //   });

    //   // Aborto
    //   var aborto_ctx = document.getElementById('aborto-chart').getContext('2d');
    //   var one_two_gradient = aborto_ctx.createLinearGradient(0, 0, 0, 450);
    //   one_two_gradient.addColorStop(0, '#28C76F');
    //   one_two_gradient.addColorStop(1, 'rgba(255, 255, 255, .5)');

    //   var aborto_chart = new Chart(aborto_ctx, {
    //       type: 'line',
    //       data: {
    //           labels: ["Enero", "Febrero", "Marzo", "Abril"],
    //           datasets: [{
    //               data: [15, 20, 38, 18, 38, 5],
    //               backgroundColor: one_two_gradient,
    //               hoverBackgroundColor: one_two_gradient,
    //               hoverBorderWidth: 2
    //           }]
    //       },
    //       options: {
    //           scales: {
    //               yAxes: [{
    //                   ticks: {
    //                       beginAtZero:true
    //                   }
    //               }]
    //           }
    //       }
    //   });


     
