!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title #{@farm&.title}
    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
  %body{ onload: 'number_pages()' }
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h3.report-title #{@farm&.title}
      %h5 Reporte analítico de peso
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
      -# %p 
        Pág.
        %span.page
        \/
        %span.topage
    .app_wrapper
      .container_custom
        .row
          %hr.my-1
          %hr.my-1
          -# .d-flex.justify-content-between
            .w-50
              %b Fecha de inicio:
              %span= @farm&.start_date&.strftime('%d-%m-%Y')
            .w-50
              %b Fecha de cierre:
              %span= @farm&.finish_date&.strftime('%d-%m-%Y')
          %hr.my-1
          %hr.my-1
        .row
          - if @cows&.blank? || @strategic_lots.blank?
            %table.mt-none.mb-4
              %thead
                %tr
                  %th.not-records.center
                    %center No se encontraron crías registradas en esta temporada
          - else
            - @strategic_lots.each do |strategic_lot|
              - unless @cows&.total_season_cows(strategic_lot)&.size.zero?
                .strategic_lot_name= strategic_lot.name
                %table.mt-none.mb-4
                  %thead
                    %tr
                      %th Serie Madre
                      %th Serie Cría
                      %th Peso al nacer
                      %th Días Nac.
                      %th Género
                  %tbody
                    - @cows.each do |calf|
                      %tr
                        %td= calf&.mother&.serie_number
                        %td= calf&.serie_number
                        %td #{calf&.weights&.first&.weight} KG
                        %td= calf&.days
                        %td= calf&.gender?('female') ? 'Hembra' : 'Macho'
        .row
          %hr.my-1
          %hr.my-1
          %b
            Cantidad de series:
          #{@cows.size}
:scss
  body {
    font-size: 15px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  td {
    margin: 0;
    padding: 0;
  }
  
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }

  .app_wrapper {
    padding-top: 40px;
  }

  .container_custom {
    margin: 100px 20px 0;
  }

  .mb-none {
    margin-bottom: 0;
  }

  .mt-4 {
    margin-top: 40px;
  }

  .strategic_lot_name {
    font-weight: bold;
    font-size: 1.2rem;
  }