!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title Reporte de temporada de monta (#{@season&.name})
    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
  %body{ onload: 'number_pages()' }
    - @responsables = @farm.responsables.where(farm_id: @farm.id)
    - @services = @season.statuses.where(status_type: 'Service', season_id: @season.id)
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h3.report-title Temporada de monta (#{@season&.name})
      %h5 Reporte de efectividad de servicios
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
      -# %p 
        Pág.
        %span.page
        \/
        %span.topage
    .app_wrapper
      .container_custom
        .row
          %hr.my-1
          %hr.my-1
          .d-flex.justify-content-between
            .w-50
              %b Fecha de inicio:
              %span= @season&.start_date&.strftime('%d-%m-%Y')
            .w-50
              %b Fecha de cierre:
              %span= @season&.finish_date&.strftime('%d-%m-%Y')
          %hr.my-1
          %hr.my-1
        .row
          - if @responsables.size.zero?
            %table.mt-none.mb-4
              %thead
                %tr
                  %th.not-records.center
                    %center No se encontraron responsables asignados a esta temporada de monta
          - elsif @services&.blank?
            %table.mt-none.mb-4
              %thead
                %tr
                  %th.not-records.center
                    %center No se encontraron hembras inseminadas en esta temporada de monta
          - else
            - @responsables.each do |responsable|
              - unless responsable.cow_statuses.where(status_type: 'Service', season_id: @season.id).size.zero?
                .responsable_name
                  = responsable.name
                  %small.mt-1.float-right.w-50.text-right
                    %span
                      %b Preñadas:
                      #{responsable.pregnants(@season.id).size}
                      %b Vacías:
                      #{responsable.inefectivities.size}
                      \/
                      %b Efectividad:
                      #{responsable.pregnants(@season.id).size.zero? ? 0 : (((responsable.pregnants(@season.id).size.to_f) / (responsable.pregnants(@season.id).size.to_f + responsable.inefectivities.size.to_f)) * 100).round(2)}%
                %hr
                %table.mt-none.mb-4
                  %thead
                    %tr
                      %th Nro. Serie
                      %th Tipología
                      %th Fecha de servicio
                      %th Estado actual
                  %tbody
                    - responsable.cow_statuses.where(status_type: 'Service', season_id: @season.id).each do |cow_status|
                      %tr
                        %td= cow_status.cow&.serie_number
                        %td= cow_status.cow&.typology_name
                        %td= cow_status.cow.statuses.where(status_type: 'Service', season_id: @season.id).last&.date&.strftime('%d-%m-%Y')
                        %td= cow_status.cow.status.status_type_name
        .row
          %hr.my-1
          %hr.my-1
          %b
            Cantidad de series:
          #{@services.size}
:scss
  body {
    font-size: 15px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
    td {
    margin: 0;
    padding: 10px 20px 0 0;
  }
  
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }

  .app_wrapper {
    padding-top: 40px;
  }

  .container_custom {
    margin: 100px 20px 0;
  }

  .mb-none {
    margin-bottom: 0;
  }

  .mt-4 {
    margin-top: 40px;
  }

  .responsable_name {
    font-weight: bold;
    font-size: 1.2rem;
  }