-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
.app_wrapper
  .container_custom
    .float-left
      -# = render 'keppler_frontend/app/cattle/partials/search', farm: farm, search: search
    .d
      .float-left.mt-4.mb-4{ style: 'width: 80%' }
        %h1 Temporadas de monta
      %a.float-right.mt-4.mb-4{ href: new_farm_season_path(@farm) }
        %button.btn.btn_custom.btn--filled.btn--medium
          %i.icofont-plus
          Agregar
      - if @seasons.blank? && @farm.seasons.exists?
        = link_to 'Mostrar todos', farm_seasons_path(@farm)
    .content-table{ style: 'position:initial' }
      %table
        - if @seasons.size.zero?
          %thead
            %tr
              %th.not-records.center
                %center No se encontraron temporadas
        - else
          %thead
            %tr
              -# %th
                .toolbar-item
                  .item-check
                    .checkbox
                      %label{ for: 'checkbox-all' }
                        %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()', name: 'multiple_ids' }
                        %span.cr
                          %i.cr-icon.icofont-check
              %th Nombre
              %th Tipo
              %th Fecha de Inicio
              %th Fecha de Fin
              %th Estado
              %th Menu
          %tbody
            - @seasons.each do |season|
              %tr{ style: "border-bottom: 1px #eee solid;" }
                -# %td
                  .checkbox{ style: 'margin: 3px' }
                    %label{ for: "checkbox-#{season.id}" }
                      %input{ type:"checkbox", id: "checkbox-#{season.id}", 'checklist-model' => 'check', 'checklist-value' => "#{season.id}", '@click' => "listDelete(#{season.id})"}
                      %span.cr
                        %i.cr-icon.icofont-check
                %td
                  = link_to({action: :show, farm_id: @farm&.id, id: season.id}, {title: season.name}) do
                    = season&.name
                %td
                  = link_to({action: :show, farm_id: @farm&.id, id: season.id}, {title: season.name}) do
                    = season&.type_name
                %td
                  = link_to({action: :show, farm_id: @farm&.id, id: season.id}, {title: season.name}) do
                    = season&.start_date&.strftime('%d/%m/%y')
                %td
                  = link_to({action: :show, farm_id: @farm&.id, id: season.id}, {title: season.name}) do
                    = season&.finish_date&.strftime('%d/%m/%y')
                %td
                  = link_to({action: :show, farm_id: @farm&.id, id: season.id}, {title: season.name}) do
                    %div{ style: "color: #{season&.finished ? 'red' : 'green'}" }
                      = season&.finished ? 'Cerrada' : 'Abierta'
                
                %td
                  .dropdown{ style: 'justify-content: center; cursor:pointer' }
                    %a.action-btn.pull-right{ id: "menu-#{season.id}", 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown' }
                      %i.icofont-navigation-menu
                    %ul.actions.dropdown-menu{ 'aria-labelledby': "menu-#{season.id}" }
                      %li
                        = link_to({action: :show, farm_id: @farm&.id, id: season.id}) do
                          %i.icofont-eye
                          Ver Temporada
                      %li
                        = link_to({action: :edit, farm_id: @farm&.id, id: season.id}) do
                          %i.icofont-edit-alt
                          Editar Temporada
  