!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title Reporte de temporada de monta (#{@season.name})
    = wicked_pdf_stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
    = wicked_pdf_stylesheet_link_tag '/assets/keppler_frontend/app/application.css'
  %body
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h3.report-title Reporte de temporada de monta (#{@season.name})
      %h5 Hembras reproductivas
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
    .app_wrapper
      .container_custom
        .row
          - if @strategic_lots.size.zero?
            %thead
              %tr
                %th.not-records.center
                  %center No se encontraron lotes estratégicos asociados a ganados
          - elsif @possible_mothers&.blank?
            %table.mt-none.mb-4
              %thead
                %tr
                  %th.not-records.center
                    %center No se encontraron hembras aptas para reproducción en esta finca
          - else
            %hr.my-1
            %table.mt-none.mb-4
              %thead
                %tr
                  %th Nro. Serie
                  %th
                    Edad
                    %br
                    A - M
                  %th Tipología
                  %th Estado
                  %th Peso
              %tbody
                - @possible_mothers.each do |cow|
                  %tr
                    %td= cow&.serie_number
                    %td
                      = cow&.years
                      \-
                      = cow&.months
                    %td= cow&.typology_name
                    %td= cow&.status&.status_type_name
                    %td #{cow&.weight&.weight} KG
        .row
          %hr.my-1
          %hr.my-1
          %b
            Cantidad de series:
          #{@possible_mothers.size}
          %br
          %b
            Promedio de pesos:
          #{@weight_average.round(2)} KG
:scss
  body {
    font-size: 15px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  td {
    margin: 0;
    padding: 0;
  }
  
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }

  .app_wrapper {
    padding-top: 40px;
  }

  .container_custom {
    margin: 100px 20px 0;
  }

  .mb-none {
    margin-bottom: 0;
  }

  .mt-4 {
    margin-top: 40px;
  }

  .strategic_lot_name {
    font-weight: bold;
    font-size: 1.2rem;
  }