!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title Reporte de temporada de monta (#{@season.name})
    = wicked_pdf_stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
    = wicked_pdf_stylesheet_link_tag '/assets/keppler_frontend/app/application.css'
  %body
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h2.report-title Reporte de temporada de monta (#{@season.name})
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
    .app_wrapper
      .container_custom
        .row
          %table
            %thead
              %tr
                %th Celos
                %th Servicios
                %th Partos
                %th Abortos
                %th Sin preñar
                %th Efectividad
            %tbody
              %tr
                %td #{@season.statuses.where(status_type: 'Zeal').count }
                %td #{@season.statuses.where(status_type: 'Service').count }
                %td #{@season.cows.select { |x| x.status&.status_type == 'Birth' && x.status.farm_id.eql?(@farm.id) && x.status.successfully }.count}
                %td #{@season.cows.select { |x| x.status&.status_type == 'Birth' && x.status.farm_id.eql?(@farm.id) && !x.status.successfully }.count }
                %td #{@season.cows.reject { |x| x.status&.status_type == 'Birth' && x.status.farm_id.eql?(@farm.id) }.count}
                - percent = (((@season.pregnants.count.to_f) / (@season.pregnants.count.to_f + @season.inefectivities.count.to_f)) * 100).round(2)
                %td #{percent.nan? ? 0 : percent}%

          %table.cow-table
            - if @season.cows.size.zero?
              %thead
                %tr
                  %th.not-records.center
                    %center No se encontraron ganados
            - else
              %thead
                %tr
                  %th Serie
                  %th Raza
                  %th
                    Edad
                    %br
                    A - M
                  %th Tipología
                  -# %th Madre
                  -# %th Padre
                  %th Estado
                  %th Fecha Nac.
                  %th KG
                  -# %th Pelaje
                  %th Lote
              %tbody
                - @season.cows.where(gender: 'female').each do |cow|
                  %tr
                    %td= cow&.serie_number
                    %td= cow&.race&.name
                    %td
                      = cow&.years
                      \-
                      = cow&.months
                    %td= cow&.typology_name
                    -# %td= cow&.mother&.serie_number
                    -# %td= cow&.father&.serie_number
                    %td= cow&.status&.status_type_name
                    %td= cow&.birthdate&.strftime('%d-%m-%Y')
                    %td= cow&.weight&.weight
                    -# %td= cow&.coat_color
                    %td= cow&.strategic_lot&.name
:scss
  body {
    font-size: 15px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  td {
    margin: 0;
    padding: 0;
  }
  
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }

  .app_wrapper {
    padding-top: 40px;
  }

  .container_custom {
    margin: 100px 20px 0;
  }

  .cow-table {
    margin-top: 50px;
  }