-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
.app_wrapper
  .container_custom
    -# = render 'keppler_frontend/app/cattle/partials/search', farm: farm, search: search
    .float-left.mb-4{ style: 'width: 80%' }
      %h1= @season.name
    .d-flex.justify-content-end
      -# .toolbar
        .toolbar-item
          -# %a.tool-btn{ 'data-confirm': t('keppler.messages.data_confirm'), 'data-method': 'delete', 'v-bind:href': 'link', rel: 'nofollow', ':class': '{disabled: !checks}' }
          = link_to farm_season_destroy_multiple_path(@farm), method: :delete, class: 'destroy_multiple' do
            %i.icofont-trash
      .float-right.mt-4.mb-4
        -# = link_to({ action: :show, format: :pdf }, { target: '_blank' }) do
          %button.btn.btn_custom.btn--filled.btn--medium
            %i.icofont-clip-board
            Reporte
        %a#add-cicle{ href: '#' }
          %button.btn.btn_custom.btn--filled.btn--medium
            +
            Agregar ciclo
      -# %a.float-right.mt-4.mb-4.ml-3{ href: new_farm_cow_path(farm) }
        %button.btn.btn_custom.btn--filled.btn--medium
          %i.icofont-plus
          Agregar
    - if @cows.blank? && @season.cows.count > 0
      = link_to 'Mostrar todos', farm_cows_path(farm)
    = render 'keppler_frontend/app/seasons/gantt', season: @season
    .d-flex.justify-content-between.mt-5.mb-3
      .left
        %h1 Grupo de ganados
      .right
    = render 'keppler_frontend/app/cattle/partials/cattle_table', cows: @cows
= simple_form_for [@farm, @season, @cicle] do |f|
  = f.input :farm_id, as: :hidden, input_html: { value: @farm.id }
  = f.input :season_id, as: :hidden, input_html: { value: @season.id }
  = f.input :days_count, as: :hidden

:javascript
  $('#add-cicle').click(function() {
    swal({
      input: 'number',
      title: "Agregar Ciclo #{@season.cicles.count + 1}",
      text: "Cantidad de días",
      confirmButtonText: "Agregar",
      cancelButtonText: "Cancelar",
      showCancelButton: true
    }).then((result) => {
      var result_values = result.value;
      console.log(result_values == '')
      if (!result_values) return false
      if (!result_values == '') {
        var cicle_days_count = result.value
        swal({
          title: 'Ciclo #{@season.cicles.count + 1}:',
          html:
            `<b>Cantidad de dias:</b> ${cicle_days_count}`,
          confirmButtonText: 'Correcto'
        }).then((result) => {
          var form = $(`#new_cicle`)
          form.find('#cicle_days_count').val(cicle_days_count)
          form.submit()
        })
      } else {
        swal({
          title: 'Error:',
          type: 'error',
          html: `<b>Campos vacíos:</b> </br>
            Cantidad de días`
        })
      }
    })
  })