-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
.app_wrapper
  .container_custom
    -# = render 'keppler_frontend/app/cattle/partials/search', farm: farm, search: search
    .d-flex.justify-content-between
      .left
        .mb-4
          %h1
            #{@season.name}
            %label.badge (#{@season.type_name})
          %small.badge.badge-secondary #{@season.start_date&.strftime("%d/%m/%Y")} - #{@season.finish_date&.strftime("%d/%m/%Y")}
      .right
        = link_to edit_farm_season_path(@farm, @season) do
          %button.btn.btn_custom.btn--filled.btn--medium.float-right.m-1
            %i.icofont-pencil
            Editar
        -# %a#add-cicle{ href: '#' }
          %button.btn.btn_custom.btn--filled.btn--medium
          +
          Agregar ciclo
    -# - if @season.finished || Date.today > @season.finish_date
      = render 'keppler_frontend/app/seasons/seasonFinish', season: @season
    -# - case @season.phase.to_i
    -# - when 0
    - unless @season.season_type.to_i.eql?(0)
      = render 'keppler_frontend/app/seasons/gantt', season: @season
    .d-flex.justify-content-end
      = render 'season_reports'
    - unless @season.phase.to_i.eql?(0)
      %ul.nav.nav-tabs.mt-4{role: "tablist", style: "padding: 0;"}
        %li.nav-item
          %a.nav-link{ class: ('active' if @season.phase.to_i.eql?(0)), "aria-controls" => "mfg", "aria-selected" => "true", "data-toggle" => "tab", href: "#mount", role: "tab"}
            Monta
        %li.nav-item
          %a.nav-link{ class: ('active' if @season.phase.to_i.eql?(1)), "aria-controls" => "mfg", "aria-selected" => "true", "data-toggle" => "tab", href: "#pregnancy", role: "tab"}
            Preñez
        - if @season.phase.to_i > 1
          %li.nav-item
            %a.nav-link{ class: ('active' if @season.phase.to_i.eql?(2)), "aria-controls" => "mfg", "aria-selected" => "true", "data-toggle" => "tab", href: "#reproduction", role: "tab"}
              Reproducción
    .tab-content
      #mount.tab-pane{ class: ('active' if @season.phase.to_i.eql?(0))}
        - if @season.phase.to_i.eql?(0)
          .d-flex.justify-content-between.mt-5.mb-3.mt-4
            .left
              %h1
                Ganados por lotes
                %small (#{@season.cows.where(gender: 'female').count})
            - unless @season.type_id.zero?
              .right
                .d-flex.justify-content-end
                  .d-flex.mt-4.mb-4
                    -# = link_to new_assign_cattle_farm_season_path(@farm, @season) do
                      %button.btn.btn_custom.btn--filled.btn--medium
                        %i.icofont-plus
                        Agregar Serie
                    %button.btn.btn_custom.btn--filled.btn--medium.m-1{'data-target': "#modalLote", 'data-toggle': 'modal'}
                      %i.icofont-plus
                      Importar de lote
                    = render 'close_phase'
          #index-container
            .content-table
              %table
                - if @cow_strategic_lots.size.zero?
                  %thead
                    %tr
                      %th.not-records.center
                        %center No se encontraron lotes estratégicos asociados a ganados
                - else
                  %thead
                    %tr
                      %th Nombre
                      %th Disponibles
                      %th En celo
                      %th Inseminadas
                      %th Preñadas
                      %th Paridas
                      %th Total
                      %th Toros
                  %tbody
                    - @cow_strategic_lots.each do |strategic_lot|
                      %tr
                        %td
                          = link_to({ controller: :seasons, action: :availables, farm_id: @farm&.id, id: @season.id, strategic_lot_id: strategic_lot.id },{ title: strategic_lot.function }) do
                            = strategic_lot.name
                        %td
                          = link_to({ controller: :seasons, action: :availables, farm_id: @farm&.id, id: @season.id, strategic_lot_id: strategic_lot.id },{ title: strategic_lot.function }) do
                            = @cows.total_season_cows(strategic_lot).where_status(['Nil', nil], @season.id).count
                        %td
                          = link_to({ controller: :seasons, action: :zeals, farm_id: @farm&.id, id: @season.id, strategic_lot_id: strategic_lot.id },{ title: strategic_lot.function }) do
                            = @cows.total_season_cows(strategic_lot).where_status('Zeal', @season.id).count
                        %td
                          = link_to({ controller: :seasons, action: :services, farm_id: @farm&.id, id: @season.id, strategic_lot_id: strategic_lot.id },{ title: strategic_lot.function }) do
                            = @cows.total_season_cows(strategic_lot).where_status('Service', @season.id).count
                        %td
                          = link_to({ controller: :seasons, action: :pregnants, farm_id: @farm&.id, id: @season.id, strategic_lot_id: strategic_lot.id },{ title: strategic_lot.function }) do
                            = @cows.total_season_cows(strategic_lot).where_status('Pregnancy', @season.id).count
                        %td
                          = link_to({ controller: :seasons, action: :births, farm_id: @farm&.id, id: @season.id, strategic_lot_id: strategic_lot.id },{ title: strategic_lot.function }) do
                            = @cows.total_season_cows(strategic_lot).where_status('Birth', @season.id).count
                        %td
                          = link_to({ controller: :seasons, action: :births, farm_id: @farm&.id, id: @season.id, strategic_lot_id: strategic_lot.id },{ title: strategic_lot.function }) do
                            = @cows.total_season_cows(strategic_lot).count
                        %td
                          = link_to({ controller: :seasons, action: :availables, farm_id: @farm&.id, id: @season.id, strategic_lot_id: strategic_lot.id },{ title: strategic_lot.function }) do
                            = @bulls.total_season_bulls(strategic_lot).count
          - unless @season.type_id.zero? || @inseminated_cows.blank?
            .d-flex.justify-content-between.mt-5.mb-3.mt-4
              .left
                %h1 Inseminadas
                
            .content-table
              %table
                %thead
                  %tr
                    %th Número de serie
                    %th Nombre corto
                    %th Fecha de Servicio
                    %th Pajuela Usada
                %tbody
                  - @inseminated_cows.each do |cow|
                    %tr
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.serie_number
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.short_name
                          = image_tag "/assets/keppler_cattle/female", class: 'svg-icon-xs ml-2'
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.status.date
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.status.insemination&.serie_number
        - else
          = render 'keppler_frontend/app/seasons/mountFinish', season: @season
      #pregnancy.tab-pane{ class: ('active' if @season.phase.to_i.eql?(1))}
        - if @season.phase.to_i.eql?(1)
          #index-container
            .d-flex.justify-content-between.mt-5.mb-3.mt-4
              .left
                %h1 Inseminadas
              .right
                .d-flex.justify-content-end
                  .d-flex.mt-4.mb-4
                    = render 'close_phase'
            .content-table
              %table
                - if @inseminated_cows.blank?
                  %thead
                    %tr
                      %th No se encontraron hembras inseminadas
                - else
                  %thead
                    %tr
                      %th
                      %th Número de serie
                      %th Nombre corto
                      %th Fecha de Servicio
                      %th Pajuela Usada
                      %th
                %tbody
                  - @inseminated_cows.each do |cow|
                    %tr
                      %td
                        .checkbox{ style: 'margin: 3px' }
                          %label{ for: "checkbox-#{cow.id}" }
                            %input{ type:"checkbox", id: "checkbox-#{cow.id}", 'checklist-model' => 'check', 'checklist-value' => "#{cow.id}", '@click' => "listDelete(#{cow.id})"}
                            %span.cr
                              %i.cr-icon.icofont-check
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.serie_number
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.short_name
                          = image_tag "/assets/keppler_cattle/female", class: 'svg-icon-xs ml-2'
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.status.date
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.status.insemination&.serie_number
                      %td
                        - if Date.today > cow.status.date + 60.days
                          %button.btn.btn_custom.btn--filled.btn--medium{'data-target': "#modalPregnant-#{cow.id}", 'data-toggle': 'modal' }
                            %i.icofont-plus
                            Registrar preñez
                          = render 'keppler_frontend/app/seasons/modalPregnant', season: @season, cow: cow
            - unless @season.type_id.zero? || @pregnants.blank?
              .d-flex.justify-content-between.mt-5.mb-3.mt-4
                .left
                  %h1 Preñadas
              .content-table
                %table
                  %thead
                    %tr
                      %th Número de serie
                      %th Nombre corto
                      %th Fecha de Servicio
                      %th Pajuela Usada
                      %th{ colspan: 2 }
                  %tbody
                    - @pregnants.each do |cow|
                      %tr
                        %td
                          = link_to farm_cow_path(@farm, cow) do
                            = cow.serie_number
                        %td
                          = link_to farm_cow_path(@farm, cow) do
                            = cow.short_name
                            = image_tag "/assets/keppler_cattle/female", class: 'svg-icon-xs ml-2'
                        %td
                          = link_to farm_cow_path(@farm, cow) do
                            = cow.status.date
                        %td
                          = link_to farm_cow_path(@farm, cow) do
                            = cow.status.insemination&.serie_number
        - else
          = render 'keppler_frontend/app/seasons/pregnancyFinish', season: @season
      #reproduction.tab-pane{ class: ('active' if @season.phase.to_i.eql?(2))}
        #index-container
          .d-flex.justify-content-between.mt-5.mb-3.mt-4
            .left
              %h1 Preñadas
            .right
              .d-flex.justify-content-end
                .d-flex.mt-4.mb-4
                  = render 'close_phase'
          .content-table
            %table
              %thead
                %tr
                  %th Número de serie
                  %th Nombre corto
                  %th Fecha de Servicio
                  %th Pajuela Usada
                  %th{ colspan: 2 }
              %tbody
                - @pregnants.each do |cow|
                  %tr
                    %td
                      = link_to farm_cow_path(@farm, cow) do
                        = cow.serie_number
                    %td
                      = link_to farm_cow_path(@farm, cow) do
                        = cow.short_name
                        = image_tag "/assets/keppler_cattle/female", class: 'svg-icon-xs ml-2'
                    %td
                      = link_to farm_cow_path(@farm, cow) do
                        = cow.status.date
                    %td
                      = link_to farm_cow_path(@farm, cow) do
                        = cow.status.insemination&.serie_number
                    %td
                      - if Date.today > cow.status.date + 270.days
                        %button.btn.btn_custom.btn--filled.btn--medium{'data-target': "#modalBirth-#{cow.id}", 'data-toggle': 'modal' }
                          %i.icofont-plus
                          Registrar parto
                        = render 'keppler_frontend/app/seasons/modalBirth', season: @season, cow: cow
                    %td
                      %button.btn.btn_custom.btn--filled.btn--medium{'data-target': "#modalBirth-#{cow.id}", 'data-toggle': 'modal' }
                        %i.icofont-plus
                        Registrar aborto
                      = render 'keppler_frontend/app/seasons/modalAbort', season: @season, cow: cow
          - unless @season.type_id.zero? || @pregnants.blank?
            .d-flex.justify-content-between.mt-5.mb-3.mt-4
              .left
                %h1 Crías
            .content-table
              %table
                %thead
                  %tr
                    %th Número de serie
                    %th Nombre corto
                    %th Fecha de Nacimiento
                    %th Días de nacido
                    %th Serie de la Madre
                    %th
                %tbody
                  - @babies.each do |cow|
                    %tr
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.serie_number
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.short_name
                          = image_tag "/assets/keppler_cattle/female", class: 'svg-icon-xs ml-2'
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.birthdate
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.days
                      %td
                        = link_to farm_cow_path(@farm, cow) do
                          = cow.mother.serie_number
                      %td
                        - if cow.days > 190
                          %button.btn.btn_custom.btn--filled.btn--medium{'data-target': "#modalBirth-#{cow.id}", 'data-toggle': 'modal' }
                            %i.icofont-plus
                            Registrar destete
                          = render 'keppler_frontend/app/seasons/modalDestete', season: @season, cow: cow
-# = simple_form_for [@farm, @season, @cicle] do |f|
  = f.input :farm_id, as: :hidden, input_html: { value: @farm.id }
  = f.input :season_id, as: :hidden, input_html: { value: @season.id }
  = f.input :days_count, as: :hidden
  

= render 'keppler_frontend/app/seasons/modalLote', season: @season

-# = render 'keppler_frontend/app/seasons/modalCattle', season: @season
-# :javascript
  $('#add-cicle').click(function() {
    swal({
      input: 'number',
      title: "Agregar Ciclo #{@season.cicles.count + 1}",
      text: "Cantidad de días",
      confirmButtonText: "Agregar",
      cancelButtonText: "Cancelar",
      showCancelButton: true
    }).then((result) => {
      var result_values = result.value;
      console.log(result_values == '')
      if (!result_values) return false
      if (!result_values == '') {
        var cicle_days_count = result.value
        swal({
          title: 'Ciclo #{@season.cicles.count + 1}:',
          html:
            `<b>Cantidad de dias:</b> ${cicle_days_count}`,
          confirmButtonText: 'Correcto'
        }).then((result) => {
          var form = $(`#new_cicle`)
          form.find('#cicle_days_count').val(cicle_days_count)
          form.submit()
        })
      } else {
        swal({
          title: 'Error:',
          type: 'error',
          html: `<b>Campos vacíos:</b> </br>
            Cantidad de días`
        })
      }
    })
  })
:javascript
  $('#season_cow_strategic_lot').select2()

  var $ids = #{@season.cows.pluck(:id)}
  var $final_array = []

  function checkboxes() {
    function ids_loop() {
      $ids.forEach(function (id) {
        $('[checklist-model="check"]:checked').each(function( index ) {
          if ($(this).prop('id').includes(id)) {
            if ( !$final_array.includes(id) ) {
              $final_array.push(id)
            }
          }
        });
        $('[checklist-model="check"]:not(:checked)').each(function( index ) {
          if ($(this).prop('id').includes(id)) {
            if ($final_array.includes(id)) {
              $final_array.splice($final_array.indexOf(id), 1);
            }
          }
        });
      });
      $('.multiple_ids').each(function(index, elem) {
        elem.attr('href', (`${href}${$final_array}`))
      })
    }

    $('#checkbox-all').click(function() {
      $('[checklist-model="check"]').prop( "checked", $(this).prop( "checked" ) )
      ids_loop()
    })

    $('[checklist-model="check"]').click(function() {
      ids_loop()
      $('#checkbox-all').prop(
        'checked',
        JSON.stringify($ids) === JSON.stringify($final_array)
      )
    })
  }