!!!
%html{ lang: 'en' }
  %head
    = render 'keppler_frontend/app/frontend/partials/head'
  %body
    .login_container
      %img.bg-shape1{src:'/assets/keppler_frontend/app/shape1.svg'}
      %img.bg-shape2{src:'/assets/keppler_frontend/app/shape2.svg'}
      .login_box
        .login_left
          %span.login_title Bienvenido a
          %img.login_logo{ src: 'https://www.logolynx.com/images/logolynx/38/38823bcbd5b510b67596a10f4cbacb06.png' }
          %span.recoverable Inicia sesión para comenzar
          = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
            .login_card
              .form-group.mb-5
                %label.label_custom.label_login
                  %i.icofont-ui-message
                  Correo
                = f.email_field :email, :autofocus => true, class: "form-control input_custom input_login validate"
              .form-group.mb-5
                %label.label_custom.label_login
                  %i.icofont-ui-password
                  Contraseña
                = f.password_field :password, :autofocus => true, class: "form-control input_custom input_login validate #{'invalid' if flash[:alert]}"
              %div
                .login-bottom.d-flex.justify-content-center
                  = f.submit :Entrar, type: 'submit', class: 'btn btn_custom btn--medium btn--filled w-100 btn-shadow btn-text-transform'
                -# .d-flex.justify-content-center.mt-3
                  - if devise_mapping.recoverable?
                    = link_to new_password_path(resource_name), class: "recoverable" do
                      = ¿Olvidaste tu contraseña?
              .form-group
                %center.devise-errors.center-align
                  - flash.each do |name, msg|
                    = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
            %span.powered_by
              Desarrollado por
              %a{ href: 'https://slicegroup.co' } Slice Group
        .login_right
          %img{ src: 'https://trello-attachments.s3.amazonaws.com/5c06d7593c101b39010a93ea/1180x600/31f83c8b77265d6f921448fab48e0170/Imagen_Ejemplo.jpg' }
    %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' }
    %script{ src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' }
    %script{ src: 'assets/js/slick.min.js' }
    %script{ src: 'assets/js/main.js' }

:scss
  .new_user {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }