.app_wrapper
  .container_custom
    = link_to farm_inventories_path(@farm) do
      %button.btn.btn_custom.btn--medium.mt-4.mb-4
        %i.icofont-arrow-left
        Atrás
    %h1 Comparación de #{@from.name} con #{@to.name}

    %table.cow-table
      - if @inventory_cows.blank?
        %thead
          %tr
            %th.not-records.center
              %center No se encontraron series
      - else
        %thead
          %tr
            -# %th
              .toolbar-item
                .item-check
                  .checkbox
                    %label{ for: 'checkbox-all' }
                      %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()', name: 'multiple_ids' }
                      %span.cr
                        %i.cr-icon.icofont-check
            %th
              -# = sort_link(@q, :serie_number) do 
              Serie
            %th
              -# = sort_link(@q, 'en-finca') do 
              En Finca
            %th
              -# = sort_link(@q, :found) do 
              En Sistema
            -# %th Menu
        %tbody#inventory_cows
          - @inventory_cows.each do |inventory_cow|
            %tr.inventory_cow{ style: "border-bottom: 1px #eee solid;" }
              -# %td
                .checkbox{ style: 'margin: 3px' }
                  %label{ for: "checkbox-#{inventory_cow&.id}" }
                    %input{ type:"checkbox", id: "checkbox-#{inventory_cow&.id}", 'checklist-model' => 'check', 'checklist-value' => "#{inventory_cow&.id}", '@click' => "listDelete(#{inventory_cow&.id})"}
                    %span.cr
                      %i.cr-icon.icofont-check
              %td
                -# = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: inventory_cow&.id}) do
                = inventory_cow&.serie_number
              %td
                -# = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: inventory_cow&.id}) do
                = inventory_cow&.in_farm ? 'Sí pasó' : 'No pasó'
              %td
                -# = link_to({controller: :cattle, action: :show, farm_id: @farm&.id, id: inventory_cow&.id}) do
                = inventory_cow&.found ? 'Sí' : 'Para revisión'
-# = paginate @inventory_cows unless @inventory_cows.blank?
#loading
:scss
  .pagination {
    visibility: hidden
  }