!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'theme-color', content: '#fff' }
    %title #{@farm.title} | campos
  %body
    .header-left
      %h1.farm-title= @farm.try(:title)&.upcase
      %h2.report-title Catálogo de campos por código
    .header-right
      %p= Time.now.strftime('%d-%m-%Y')
    %table.ground-table
      - if @grounds.size.zero?
        %thead
          %tr
            %th.not-records.center
              %center No se encontraron campos
      - else
        %thead
          %tr
            %th Cód.
            %th Nombre
            %th Ubic.
            %th Área total
            %th Área usada
            %th Cultivo
            %th Eficiencia
            %th Ofer.forrajera 
            %th Caract.
            %th Días/descanso
            %th Días/ocupación
            %th Efect. materia seca
        %tbody
          - @grounds.each do |ground|
            %tr
              %td= ground&.identifier
              %td= ground&.name
              %td= ground&.location
              %td= ground&.total_area
              %td= ground&.used_area
              %td= ground&.cultivation
              %td= ground&.efficiency
              %td= ground&.forage_offer
              %td= ground&.description
              %td= ground&.rest_days
              %td= ground&.busy_days
              %td= ground&.fecal_effectiveness
:scss
  body {
    font-size: 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-top: solid 1px #eee;
  }
  th {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
    td {
    margin: 0;
    padding: 10px 20px 0 0;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .farm-title{
    width: 150%
  }
  .report-title {
    width: 150%
  }