- farm_view = controller_name.eql?('farms') && action_name.eql?('show')  
%div{ class: (farm_view ? 'home_custom' : 'home_custom_fixed') }
  %nav.navbar.navbar-expand-lg{ class: (farm_view ? 'navbar_custom' : 'navbar_custom_fixed') }
    %div{ class: (farm_view ? 'navbar_img_custom navbar-js' : 'navbar_js_fixed'), style: "background-image: url('#{farm&.photos&.find_by(cover: true)&.photo&.url || 'https://images.pexels.com/photos/787647/pexels-photo-787647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'}')" }
      .top_img
    .navbar_custom_content
      %a#navbarDropdown.nav-link.d-lg-none.mr-auto.mr-lg-0{ class: ('dropdown-toggle' if farms), "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
        = image_tag (farm&.logo&.url || @default_logo),class: "image_logo_company", style: 'width: 80px; z-index: 5;'
      - if farms.blank?
        .farms-menu.dropdown-menu.navbar_dropdown{"aria-labelledby" => "navbarDropdown"}
          .dropdown-item No tienes fincas asignadas
      - else
        .farms-menu.dropdown-menu.navbar_dropdown{"aria-labelledby" => "navbarDropdown"}
          - farms.each do |f|
            = link_to farm_path(f), class: 'farm-item dropdown-item' do
              .farm-logo= image_tag f&.logo&.url || @default_logo
              .farm-title= f.title
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "offcanvas", type: "button"}
        %span.navbar-toggler-icon.icofont-navigation-menu
      #navbarSupportedContent.navbar-collapse.offcanvas-collapse
        .logo
          %a#navbarDropdown.nav-link.d-none.d-lg-block{ class: ('dropdown-toggle' if farms), "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            = image_tag (farm&.logo&.url || @default_logo),class: "image_logo_company", style: 'max-width: 80px; max-height: 60px; z-index: 5;'

          - if farms.blank?
            .farms-menu.dropdown-menu.navbar_dropdown{"aria-labelledby" => "navbarDropdown"}
              .dropdown-item No tienes fincas asignadas
          - else
            .farms-menu.dropdown-menu.navbar_dropdown{"aria-labelledby" => "navbarDropdown"}
              - farms.each do |f|
                = link_to farm_path(f), class: 'farm-item dropdown-item' do
                  .farm-logo= image_tag f&.logo&.url || @default_logo
                  .farm-title= f.title
          
        %ul.navbar-nav.mr-auto
          - if farm
            %li.nav-item
              = link_to farm_path(farm), class: "nav-link #{('active' if controller_name.eql?('frontend'))}" do
                -# Inicio
                -# = farm&.title
            %li.nav-item{ style: "position: relative;"}
              %a.click.nav-link{ class: "#{'active' if %w[cattle strategic_lots transferences].include?(controller_name)} dropdown-toggle", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                Ganadería
                %i.icofont-simple-down
              .farm_menu{ class: ('visibility' if %w[cattle strategic_lots transferences inseminations status].include?(controller_name))}
                = link_to farm_cows_path(farm),style: "background-color: transparent !important; color: white;", class: "modelOne dropdown-item #{('active_sub' if %w[cattle status].include?(controller_name))}" do
                  Ganado
                = link_to farm_strategic_lots_path(farm),style: "background-color: transparent !important; color: white;", class: "modelOne dropdown-item  #{('active_sub' if %w[strategic_lots].include?(controller_name))}" do
                  Lotes estratégicos
                = link_to farm_transferences_path(farm),style: "background-color: transparent !important; color: white;",  class: "modelOne dropdown-item  #{('active_sub' if %w[transferences].include?(controller_name))}" do
                  Transferencias
                = link_to farm_inseminations_path(farm),style: "background-color: transparent !important; color: white;",  class: "modelOne dropdown-item  #{('active_sub' if %w[inseminations].include?(controller_name))}" do
                  Pajuelas
            %li.nav-item{ style: "position: relative;"}
              %a.click.nav-link{ class: "#{'active' if %w[seasons].include?(controller_name)} dropdown-toggle", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                Reproducción
                %i.icofont-simple-down
              .farm_menu{ class: ('visibility' if %w[seasons].include?(controller_name))}
                = link_to farm_seasons_path(farm),style: "background-color: transparent !important; color: white;", class: "modelOne dropdown-item #{('active_sub' if %w[seasons].include?(controller_name))}" do
                  Temporadas de monta
                = link_to farm_milk_index_path(farm),style: "background-color: transparent !important; color: white;", class: "modelOne dropdown-item #{('active_sub' if %w[seasons].include?(controller_name))}" do
                  Producción Lechera
          %li.nav-item.d-lg-none
            = link_to t('keppler.devise.sign_out'), destroy_session_path(current_user), class: "nav-link"
      

        %ul.navbar-nav.ml-auto.user_logo
          %li.nav-item{ style: 'display: flex;align-items: center;' }
            -# %a.float-right{ href: '/admin' }
              %button.btn.btn_custom.btn--medium.btn--filled Ir a Keppler Admin
            -# = current_user.roles.pluck(:id)
          %li.nav-item.d-none.d-lg-block
            %a#profileDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
              %span= current_user&.name
              %i.icofont-simple-down

              -# %img.avatar{ src: (current_user&.avatar&.url || 'https://www.w3schools.com/w3images/avatar6.png') }
            .dropdown-menu.profile_dropdown{"aria-labelledby" => "profileDropdown"}
              = link_to 'Ir a Keppler Admin', main_app.dashboard_path, class: 'dropdown-item' if current_user&.role_ids.include?(1)
              = link_to t('keppler.devise.sign_out'), destroy_session_path(current_user), class: 'dropdown-item'
          -# %li.dropdown.messages-menu.nav-item
            %a.dropdown-toggle.language-option.nav-link.dropdown-toggle{ 'aria-expanded' => 'false', 'data-toggle' => 'dropdown', :href => '#' }
              = image_tag "admin/#{Appearance.first.language.eql?('es') ? 'es' : 'en'}.png", class: 'small-profile-img keppler-background'
            %ul.dropdown-menu
              %li.header= t('keppler.language.select_lang')
              %li
                = link_to '/admin/settings/lang/en', method: :post do
                  .pull-left
                    = image_tag 'admin/en.png', class: 'small-flat small-profile-img keppler-background'
                  %p.small-flat= t('keppler.language.en')
              %li
                = link_to '/admin/settings/lang/es', method: :post do
                  .pull-left
                    = image_tag 'admin/es.png', class: 'small-flat small-profile-img keppler-background'
                  %p.small-flat= t('keppler.language.es')
    - if farm_view
      .home_description
        %h1.profile_name= farm&.title
        %span.profile_activity= farm&.processes&.join(', ')

:scss
  .farm-logo img {
    width: 30px;
    margin-right: 10px;
  }

  .farm-item {
    display: flex;
    align-items: flex-end;
  }

  .small-profile-img {
    background-color: #f44336;
    float: left;
    height: 30px;
    margin-right: 10px;
    margin-top: -2px;
    object-fit: cover;
    width: 30px;
  }

  .small-profile-img, .nav-profile-img,
  .side-img-profile, .bg-profile {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
  
  .navbar-nav > .messages-menu > .dropdown-menu {
    width: 250px;
  }

  .navbar-nav > .messages-menu > .dropdown-menu > li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;

    &:hover {
      background: #fafafa;
      margin-right: 0;
      transition: .1s;
    }
  }

  .dropdown {
    display: flex;
    align-items: center;
  }

  .active {
    color: #f28d23;
  }

- if farm_view
  :scss
    .navbar-collapse {
      // align-items: flex-end;
      align-items: flex-start;
    }
    
  :javascript
    $(window).scroll(function () {
      if ($(document).scrollTop() > 15 && ($(window).width() >= 320)) {
        $('.navbar_img_custom').addClass('fixed');
        $('.home_custom').addClass('fixed-nav');
        $('.navbar_custom').addClass('size_fixed');
        $('.home_description').addClass('home_description-hidden')
      }
      else {
        $('.navbar_img_custom').removeClass('fixed');
        $('.home_custom').removeClass('fixed-nav');
        $('.navbar_custom').removeClass('size_fixed');
        $('.home_description').removeClass('home_description-hidden')
      }
    });
    
    let modelOne = $('a.modelOne');

    modelOne.click(function () {
      var $this = $(this);
      if (modelOne.hasClass('active_sub')) {
        modelOne.toggleClass('active_sub');
      }
    });
    $(function () {
      $('[data-toggle="offcanvas"]').on('click', function () {
        $('.offcanvas-collapse').toggleClass('open')
        $('body').toggleClass('offcanvas-expanded');
        $('.home_description').toggleClass('home_description-hidden')
      })
    })
- else 
  :scss
    .navbar-collapse {
      align-items: baseline;
    }
    .user_logo {
      height: 15px;
    }
    .image_logo_company {
      margin-top: 15px;
    }
    @media (min-width: 0px) and (max-width: 767px){
      .image_logo_company {
        margin-top: 0px;
      }
    }
  :javascript
    let modelOne = $('a.modelOne');
    let activeOne = $('.farm_menu ').find('a.modelOne.active_sub');

    modelOne.hover(function () {
      activeOne.removeClass('active_sub')
      $(this).addClass('active_sub')
    }, function () {
      $(this).removeClass('active_sub')
      activeOne.addClass('active_sub')
    })
    $(function () {
      $('[data-toggle="offcanvas"]').on('click', function () {
        $('.offcanvas-collapse').toggleClass('open')
        $('body').toggleClass('offcanvas-expanded');
        $('.home_description').toggleClass('home_description-hidden')
      })
    })

:javascript
  $('.click').click(function(){
    $('.farm_menu').removeClass('visibility');
    $(this).parent('.nav-item').find('.farm_menu').addClass('visibility');
  })
    