.container_custom
  .float-left
    -# = render 'keppler_frontend/app/cattle/partials/search', farm: farm, search: search
  .d-flex.justify-content-end.mb-5
    -# .toolbar
      %a{ href: '' }
        %i.icofont-trash
      %a{ href: '' }
        %i.icofont-refresh
      %a{ href: '' }
        %i.icofont-download
    .toolbar
      - if can?(KepplerFarm::StrategicLot).destroy_multiple?
        .toolbar-item
          .item-check
            .checkbox
              %label{ for: 'checkbox-all' }
                %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()' }
                %span.cr
                  %i.cr-icon.glyphicon.glyphicon-ok
      
      .toolbar-item
        -# = link_to reload_admin_farm_farm_strategic_lots_path(@farm), class: 'tool-btn', remote: true, title: t('keppler.actions.reload_page') do
          %i.icofont-refresh
      -# - if can?(KepplerFarm::StrategicLot).download?
        %li.toolbar-item.dropdown
          %a.dropdown-toggle{ 'data-toggle': 'dropdown', href: '#', title: t('keppler.actions.download_records') }
            %i.icon-cloud-download
          %ul.dropdown-menu
            %li= link_to t('keppler.actions.download.csv'), admin_farm_farm_strategic_lots_path(@farm, format: :csv), class: 'tool-btn'
            %li= link_to t('keppler.actions.download.xls'), admin_farm_farm_strategic_lots_path(@farm, format: :xls), class: 'tool-btn'
      -# - if can?(KepplerFarm::StrategicLot).upload?
        .toolbar-item
          = link_to '#', class: 'tool-btn', title: t('keppler.actions.upload_records'), id: 'upload' do
            %i.icon-cloud-upload
      .toolbar-item
        %a.tool-btn{ 'data-confirm': t('keppler.messages.data_confirm'), 'data-method': 'delete', 'v-bind:href': 'link', rel: 'nofollow', ':class': '{disabled: !checks}' }
          %i.icofont-trash
    %a.float-right.mt-4.mb-4{ href: app_farm_strategic_lot_new_path(farm) }
      %button.btn.btn_custom.btn--filled.btn--medium
        %i.icofont-plus
        Agregar
  - if strategic_lots.size.zero?
    %table
      %thead
        %tr
          %th.not-records.center
            %center No se encontraron lotes estratégicos
  - else
    .row{ style: 'margin-top: 10px' }
      - strategic_lots.each do |strategic_lot|
        .col-md-4
          .card_lot
            .box-header.with-border
              .float-left{ style: 'display: flex' }
                - if can?(KepplerFarm::StrategicLot).destroy_multiple?
                  .checkbox{ style: 'margin: 3px' }
                    %label{ for: "checkbox-#{strategic_lot.id}" }
                      %input{ type:"checkbox", id: "checkbox-#{strategic_lot.id}", 'checklist-model' => 'check', 'checklist-value' => "#{strategic_lot.id}", '@click' => "listDelete(#{strategic_lot.id})"}
                      %span.cr
                        %i.cr-icon.glyphicon.glyphicon-ok
                %span= strategic_lot.name
              .float-right
                .item-toolbar
                  .item
                    = link_to app_farm_strategic_lot_edit_path(@farm, strategic_lot), class: 'new-menu', title: t('keppler.actions.edit') do
                      %i.icofont-pencil-alt-5
                  .item
                    = link_to app_farm_strategic_lot_destroy_path(@farm, strategic_lot), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
                      %i.icofont-trash
            .box-body#cows
              = simple_form_for [:app, @farm, @assign], url: app_farm_strategic_lot_assign_cattle_path(@farm, strategic_lot) do |f|
                .col-sm-8
                  = f.input :cow_id, collection: @cows, label: false, input_html: { onchange: 'validateCow()' }
                  = f.input :strategic_lot_id, value: strategic_lot.id, as: :hidden
                .col-sm-4
                  = f.submit :add, value: t('keppler.actions.add'), id: 'add-cows', disabled: true
            .box-body
              .cows-list
                - if strategic_lot.cows.blank?
                  %center No hay ganado asignado
                - else
                  - strategic_lot.cows.each do |cow|
                    .cow-item
                      .cow-avatar= image_tag "/assets/keppler_cattle/#{cow.species}"
                      .cow-name= cow.serie_number
                      = link_to({ action: :delete_assignment, strategic_lot_id: strategic_lot.id, cow_id: cow.id }, { method: :delete, class: 'delete-cow', data: { confirm: t('keppler.messages.data_confirm') } }) do
                        %i.icofont-trash
