= simple_form_for photo, url: admin_farm_farm_photo_toggle_path(farm, photo), method: :post do |f|
  %label.flex-center
    - if photo.cover?
      %label.switch{ onclick: 'cannotUnselect(e)' }
        %input{name: "photo[cover]", type: "hidden", value: "false"}
        %input.active{id: "switch-#{photo.id}", :type => "checkbox", checked: "checked"}
        %span.slider.round{onclick: "cannotUnselect(e)"}
      .switch-label= t('activerecord.attributes.cover')

    - else
      %label.switch
        %input{name: "photo[cover]", type: "hidden", value: "true"}
        %input{id: "switch-#{photo.id}", :type => "checkbox"}
        %span.slider.round{onclick: "sendPermission('#{photo.id}')"}
      .switch-label.disabled= t('activerecord.attributes.cover')
    

:javascript
  function sendPermission(id) {
    $("#edit_photo_"+id).submit()
  }

  function cannotUnselect(e) {
    console.log(e)
    e.preventDefault()
    swal(
      "#{t('keppler.messages.photo.cannot_unselect')}",
      "#{t('keppler.messages.photo.please_select_anyone_else')}",
      'error'
    )
  }

:scss
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .switch-label {
    margin-left: 5px;

    &.disabled {
      color: gray;
    }
  }