.container
  .row
    .col-lg-2
      = link_to admin_farm_farms_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
        .arrow-back.btn.btn-default
          %i.icon-arrow-left
          = t('keppler.actions.back')
  .show-section
    .row
      .col-lg-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t('keppler.models.singularize.farm').humanize
            .box-tools.pull-right
              - if can?(model).update?
                = link_to edit_admin_farm_farm_path(@farm), class: 'btn btn-box-tool', title: t('keppler.actions.edit') do
                  %i.icon-pencil
              - if can?(model).destroy?
                = link_to admin_farm_farm_path(@farm), class: 'btn btn-box-tool', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
                  %i.icon-trash

          .box-body.no-padding
            %table.table
              %tbody
                - @farm.as_json(except: %w[position deleted_at]).each do |attribute, value|
                  %tr.list-row
                    %th.display-label= t("activerecord.attributes.#{attribute}".humanize)
                    %td.display-value.fs-body-1.tc-black-2
                      - if @attachments.dig('images', 'names').include?(attribute)
                        = image_tag value.url if value.url
                      - elsif @attachments.dig('images', 'names').map(&:pluralize).include?(attribute)
                        - value.each do |image|
                          = image_tag image.url if image.url
                      - elsif value.is_a?(Array)
                        - value.each do |tag|
                          .label.bg-gray= tag
                      - else 
                        = sanitize raw value


  -# - if can?(model).create?
    .add
      = link_to new_admin_farm_farm_photo_path(@farm), class: 'btn-add' do
        +
        = t('keppler.actions.add_photo')
  %center.box.slice-box#upload-photo
    .box-header.with-border
      %h3.box-title= t('keppler.actions.upload_photo')
    .box-body.box-body-no-padding
      = simple_form_for [:admin, :farm, @farm, @photo], controller: :photos, action: :create do |f|
        .file-uploader
          .file-container
            = f.input :photo
            = f.input :farm_id, input_html: { value: @farm.id }, as: :hidden
            %i.file-icon.bx.bx-file-image
            %h5.file-text= t('keppler.actions.drop', model: t('keppler.models.singularize.photo'))
          %button{ type: 'submit' }
            %i.bx.bx-upload
            = t 'keppler.actions.upload_photo'
  -# .photo-toolbar
    - if can?(model).destroy_multiple?
      .toolbar-item
        .item-check
          .checkbox
            %label{ for: 'checkbox-all' }
              %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()' }
              %span.cr
                %i.cr-icon.glyphicon.glyphicon-ok
    .toolbar-item
      %a.tool-btn{ 'data-confirm': t('keppler.messages.data_confirm'), 'data-method': 'delete', 'v-bind:href': 'link', rel: 'nofollow', ':class': '{disabled: !checks}' }
        %i.icon-trash


  .row{ style: 'margin-top: 10px' }
    - @farm.photos.each do |photo|
      .col-md-4
        .box.slice-box
          .box-header.with-border
            .pull-left
              = render 'switch', farm: @farm, photo: photo
            .pull-right
              .item-toolbar
                .item
                  = link_to edit_admin_farm_farm_photo_path(@farm, photo), class: 'new-menu', title: t('keppler.actions.edit') do
                    %i.icon-pencil
                .item
                  = link_to admin_farm_farm_photo_path(@farm, photo), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
                    %i.icon-trash
                -# .pull-right{style: "margin: 2px 8px 0 0"}
                  - if can?(KepplerFarm::Photo).destroy_multiple?
                    .checkbox
                      %label{ for: "checkbox-#{photo.id}" }
                        %input{ type:"checkbox", id: "checkbox-#{photo.id}", 'checklist-model' => 'check', 'checklist-value' => "#{photo.id}", '@click' => "listDelete(#{photo.id})"}
                        %span.cr
                          %i.cr-icon.glyphicon.glyphicon-ok
          %a{ onclick: "expandImage('#{photo.photo.url}')"}
            .box-body.class{style: "background: url('#{photo.photo.url}'); height: 300px; background-size: cover; background-position: center"}

:javascript
  function expandImage(image) {
    Swal({
      imageUrl: image,
      imageAlt: image.split('.')[0]
    })
  }

:scss
  .photo-toolbar {
    background: #fff;
    border-radius: 20px;
    width: auto;
    display: inline-flex;
    padding: 5px 10px;

    .toolbar-item {
      display: flex;
      align-items: center;
    }
  }

  .item-toolbar {
    display: flex;

    .item {
      margin: 0 5px;
    }
  }