.container_custom
  .float-left
    = search_form_for [:app, :cattle, @farm, @search], class: 'flex-search' do |f|
      .select#select-search
        %select{ name: 'search[field]'}
          %option{ value: 'serie_number' } Número de serie
          %option{ value: 'short_name' } Nombre corto
          %option{ value: 'provenance' } Procedencia
      .search-field#serie_number
        = f.search_field :serie_number_cont_any, placeholder: 'Número de serie', class: 'form-control search-bar'
      .search-field#short_name
        = f.search_field :short_name_cont_any, placeholder: 'Nombre corto', class: 'form-control search-bar'
      .search-field#provenance
        = f.search_field :provenance_cont_any, placeholder: 'Procedencia', class: 'form-control search-bar'
      = f.submit "Buscar"
  .d-flex.justify-content-end.mb-5
    -# .toolbar
      %a{ href: '' }
        %i.icofont-trash
      %a{ href: '' }
        %i.icofont-refresh
      %a{ href: '' }
        %i.icofont-download
    %a.float-right.mt-4.mb-4{ href: app_new_cattle_path(@farm) }
      %button.btn.btn_custom.btn--filled.btn--medium
        %i.icofont-plus
        Agregar
  - if @cows.blank?
    = link_to 'Mostrar todos', app_cattle_farm_cows_path(@farm)
  %table
    - if @cows.size.zero?
      %thead
        %tr
          %th.not-records.center
            %center No se encontraron ganados
    - else
      %thead
        %tr
          -# %th
            %input#styled-checkbox-all.styled-checkbox{type: "checkbox"}
            %label{for: "styled-checkbox-all"}
          %th Imagen
          %th Número de serie
          %th Nombre corto
          %th Procedencia
          %th Actions
      %tbody
        - @cows.each do |cow|
          %tr
            -# %td.checkboxes
              %input.styled-checkbox{type: "checkbox", id: "styled-checkbox-#{x}"}
              %label{for: "styled-checkbox-#{x}"}
            %td
              = image_tag cow.image.url if cow.image.url
            %td
              = cow.serie_number
            %td
              = cow.short_name
            %td
              = cow.provenance
            %td.actions
              = link_to app_cattle_farm_cow_path(@farm, cow), class: 'floating-btn' do
                %span.icofont-eye
              = link_to app_edit_cattle_path(@farm, cow), class: 'floating-btn' do
                %span.icofont-ui-edit
              = link_to app_delete_cattle_path(@farm, cow), class: 'floating-btn' do
                %span.icofont-trash
:javascript
  $('#select-search').change(function() {
    $('.search-field').hide()
    var $id = $(this).find('option:selected').val()
    $("#" + $id).show()
  })

:scss
  .center {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .not-records {
    background-color: #fff;
    border: 0;
  }

  table img {
    max-height: 50px; 
  }

  .floating-btn {
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .3s;

    &:hover {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
      color: #008500;
      transition: .3s;
    }
  }

  .flex-search {
    display: flex;
    padding: 20px 0;
  }

  #short_name {
    display: none;
  }

  #provenance {
    display: none;
  }

  