%li
  .timeline-item
    %h6.timeline-header.no-border
      %small
        %b
          = activity.owner&.name
      %small
        - case activity.trackable_type
        - when 'KepplerCattle::Cow'
          creó ganado
          #{activity.trackable.species&.name}
          #{activity.trackable.race&.name}
          %b
            = activity.trackable.try('serie_number') || activity.trackable_id

        - when 'KepplerCattle::Transference'
          transfirió
          #{activity.trackable&.cattle.size}
          ganados hacia
          #{activity.trackable&.to_farm&.title}

        - when 'KepplerFarm::StrategicLot'
          creó lote estratégico
          %b #{activity.trackable&.name}
          con la función de
          %b #{activity.trackable&.function}

        - else
          actualizó
          = t("activerecord.attributes.#{activity.trackable_type.split('::').last.downcase}")
          de ganado
          #{activity.recipient&.species&.name}
          #{activity.recipient&.race&.name}
          %b
            = activity.recipient.try('serie_number') || activity.recipient_id
      %span.time
        %i.icofont-clock-time
        a las
        = activity.created_at.to_formatted_s(:time)
        del día
        = activity.created_at.to_formatted_s(:day)