.modal.modal_status.fade{ id: "modalStatus-#{status.id}", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .card_show.card_status
          .card_status--bar
            - if ground.gender?('male')
              %a.status-tooltip{ 'data-toggle': "tooltip", 'data-placement': "top", 'data-html': 'true', title: '<h4>Recelador</h4>' }
                %i.icofont-bull{ class: ('active' if status.defiant) }
              %a.status-tooltip{ 'data-toggle': "tooltip", 'data-placement': "top", 'data-html': 'true', title: '<h4>Reproductor</h4>' }
                %i.icofont-dna{ class: ('active' if status.reproductive) }
            - else
              %a.status-tooltip{ 'data-toggle': "tooltip", 'data-placement': "top", 'data-html': 'true', title: '<h4>Preñada</h4>' }
                %i.icofont-baby{ class: ('active' if status.pregnant) }
              %a.status-tooltip{ 'data-toggle': "tooltip", 'data-placement': "top", 'data-html': 'true', title: '<h4>Lactando</h4>' }
                %i.icofont-baby-milk-bottle{ class: ('active' if status.lactating)  }
              %a.status-tooltip{ 'data-toggle': "tooltip", 'data-placement': "top", 'data-html': 'true', title: '<h4>Criando</h4>' }
                %i.icofont-holding-hands{ class: ('active' if status.breeding) }
            %a.status-tooltip{ 'data-toggle': "tooltip", 'data-placement': "top", 'data-html': 'true', title: '<h4>Dado de baja</h4>' }
              %i.icofont-danger-zone{ class: ('active' if status.dead) }
          .card_status--title
            %h2
              Estado
              %small (#{status.created_at.to_formatted_s(:day)})
          .box-body.no-padding
            .row
              .col-lg-6
                %dl
                  %dt
                    %i.icofont-dumbbell
                    Peso
                  %dd= weight&.weight
                  %dt
                    %i.icofont-baby-cloth
                    Edad (años - meses)
                  %dd
                    = years
                    = "-"
                    = months
                  %dt
                    %i.icofont-infant-nipple
                    Días de nacido
                  %dd= days
              .col-lg-6
                %dl
                  %dt
                    %i.icofont-ground
                    Tipología
                  %dd= typology
                  %dt
                    %i.icofont-muscle
                    Condición corporal
                  %dd= weight&.corporal_condition
                  %dt
                    %i.icofont-home
                    Finca
                  %dd
                    = status.farm.title
                  - unless location&.strategic_lot.blank?
                    %dt Lote estratégico
                    %dd= location&.strategic_lot